<label for="create-key-dynamic" class="control-label">Enter Dynamic Key Data</label>
<input type="text" id="create-key-dynamic" class="form-control" name="key" value="{{key}}" placeholder="Enter dynamic key data">