{% extends "admin/base.html" %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>Modules
			<a class="no-decoration" href="{{ url_for('admin.modules_new') }}">
				<span role="button" data-toggle="tooltip" title="Create Module">
					<i class="btn-fa fas fa-plus-circle"></i>
				</span>
			</a>
		</h1>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12 table-responsive">
			<table id="modules" class="table table-striped border">
				<thead>
				<tr>
					<th class="text-center"><b>ID</b></th>
					<th><b>Name</b></th>
					<th><b>Description</b></th>
				</tr>
				</thead>
				<tbody>
				{% for module in modules %}
					<tr data-href="{{ url_for('admin.modules_detail', module_id=module.id) }}">
						<td class="text-center">{{ module.id }}</td>
						<td><a href="{{ url_for('admin.modules_detail', module_id=module.id) }}">{{ module.name }}</a></td>
						<td>{{ module.description or '' }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
