{% extends "admin/base.html" %}

{% block content %}
<div class="row">
	<h1>Message</h1>
	<div class="col-md-6 col-md-offset-3">
		{% if status %}
			<div class="alert {{status.css}}" role="alert">
				{{status.message}}
			</div>
		{% endif %}
		<form method="POST">
			<h5>Message to everyone (Email)</h5>
			<textarea name="message" class="form-control " rows="3"></textarea>
			<br>
			<input id="nonce" name='nonce' type='hidden' value="{{ nonce }}">
			<button type="submit" id="submit" tabindex="5" class="btn btn-md btn-primary btn-theme btn-outlined pull-left">Update</button>
		</form>
	</div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
