{% extends "admin/base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}

  <div class="jumbotron">
    <div class="container">
      <h1>Email All</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form method="POST" id="email-all-form">
          {{ form.csrf_token }}

          <div class="form-group">
            <label for="text">Email Content</label>
            {{ form.body(class="form-control", rows=10) }}
          </div>

          {{ form.submit(class="btn btn-primary") }}
        </form>
        <div class="progress mt-3" style="display: none;" id="progress-container">
          <div class="progress-bar"
               id="email-progress"
               role="progressbar"
               style="width: 0%"
               aria-valuenow="0"
               aria-valuemin="0"
               aria-valuemax="100"></div>
        </div>
        <p id="status">0 / 0 sent</p>
      </div>
    </div>
  </div>
  
{% endblock %}

{% block scripts %}
{% endblock %}

{% block entrypoint %}
  {{ Assets.js("assets/js/pages/email_all.js", theme="admin") }}
{% endblock %}
