{% extends "admin/base.html" %}

{% block content %}
<style>
	html {
		height: 100%;
		background-image: radial-gradient(ellipse farthest-corner at center top, hsla(230, 100%, 15%, 1) 0%, hsla(231, 90%, 1%, 1) 100%) !important;
	}

	body {
		width: 100%;
		margin: 0;

		background-image: radial-gradient(ellipse farthest-corner at center top, hsla(230, 100%, 15%, 1) 0%, hsla(231, 90%, 1%, 1) 100%) !important;
	}

	h1 {
		font-family: "Hahmlet-Bold", "RalewayOffline", "sans-serif";
	}
</style>

<div width="100%" ;height="100%">
	<canvas id="canv" style="position: fixed;"></canvas>
</div>
<div class="jumbotron" style="background:transparent;color:#fff">
	<div class="container">
		<h1>공지사항</h1>
	</div>
</div>
<div class="container"
	style="background:white;position:relative;border-radius: 30px;padding-top: 45px;padding-bottom: 45px;opacity: 0.95;">
	<div class="row">
		<div class="col-md-12">
			{% with form = Forms.notifications.NotificationForm() %}
			<form method="POST" id="notifications_form" autocomplete="off">
				<div class="form-group">
					<b>{{ form.title.label }}</b>
					{{ form.title(class="form-control") }}
					<small class="form-text text-muted">
						{{ form.title.description }}
					</small>
				</div>
				<div class="form-group">
					<b>{{ form.content.label }}</b>
					{{ form.content(class="form-control", rows="3") }}
					<small class="form-text text-muted">
						{{ form.content.description }}
					</small>
				</div>
				<div class="form-row">
					<div class="col">
						<div class="form-group">
							<b>{{ form.type.label }}</b>
						</div>
						{% for radio in form.type %}
						<div class="form-check form-check-inline pr-1">
							{{ radio(class="form-check-input") }}
							{{ radio.label(class="form-check-label") }}
						</div>
						{% endfor %}
						<small class="form-text text-muted">
							{{ form.type.description }}
						</small>
					</div>
					<div class="col">
						<div class="form-group">
							<b>{{ form.sound.label }}</b>
						</div>
						<div class="form-check">
							{{ form.sound(class="form-check-input") }}
							{{ form.sound.label(class="form-check-label") }}
						</div>
						<small class="form-text text-muted">
							{{ form.sound.description }}
						</small>
					</div>
				</div>
				<div class="float-right">
					{{ form.submit(class="btn btn-success text-center") }}
				</div>
			</form>
			{% endwith %}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<hr>
			<div id="notifications-list">
				{% for notification in notifications %}
				<div class="card bg-light mb-4">
					<button type="button" data-notif-id="{{ notification.id }}"
						class="delete-notification close position-absolute p-3" style="right:0;" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<div class="card-body">
						<h3 class="card-title">{{ notification.title }}</h3>
						<blockquote class="blockquote mb-0">
							<p>{{ notification.html }}</p>
							<small class="text-muted"><span
									data-time="{{ notification.date | isoformat }}"></span></small>
						</blockquote>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block entrypoint %}
<script defer src="{{ url_for('views.themes', theme='admin', path='js/pages/notifications.js') }}"></script>
<script defer src="../themes/core/static/js2/background.js"></script>
{% endblock %}