{% extends "admin/base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>Pages
			<a class="no-decoration" href="{{ url_for('admin.pages_new') }}">
				<span class="create-page" role="button" data-toggle="tooltip" title="Create Page">
					<i class="btn-fa fas fa-plus-circle"></i>
				</span>
			</a>
		</h1>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="float-right pb-3">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-outline-danger">
						<i class="btn-fa fas fa-trash-alt"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table id="pages" class="table table-striped border">
				<thead>
				<tr>
					<td class="d-block border-right border-bottom text-center" data-checkbox>
						<div class="form-check">
							<input type="checkbox" class="form-check-input" id="scoreboard-bulk-select" data-checkbox-all>&nbsp;
						</div>
					</td>
					<th class="sort-col text-center"><b>Title</b></th>
					<th class="sort-col text-center"><b>Route</b></th>
					<th class="sort-col text-center"><b>Authentication</b></th>
					<th class="sort-col text-center"><b>Hidden</b></th>
					<th class="sort-col text-center"><b>Published</b></th>
					<!-- <th class="sort-col text-center" width="10px"><b>Settings</b></th> -->
				</tr>
				</thead>
				<tbody>
				{% for page in pages %}
					<tr data-href="{{ url_for('admin.pages_detail', page_id=page.id) }}">
						<td class="d-block border-right text-center" data-checkbox>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" value="{{ page.id }}" data-account-id="{{ page.id }}">&nbsp;
							</div>
						</td>
						<td class="page-title">
							{{ page.title }}
						</td>
						<td class="page-route" page-id="{{ page.id }}" page-route="{{ page.route }}">
							<a href="{{ url_for('admin.pages_detail', page_id=page.id) }}">
								{{ page.route }}
							</a>
						</td>
						<td class="text-center">
							{% if page.auth_required %}
							Required
							{% else %}
							{% endif %}
						</td>
						<td class="text-center">
							{% if page.hidden %}
								Hidden
							{% else %}
							{% endif %}
						</td>
						<td class="text-center">
							{% if page.draft %}
								Draft
							{% else %}
								Published
							{% endif %}
						</td>
						<!-- <td class="text-center">
							<span class="edit-page" data-toggle="tooltip" data-placement="top"
								  title="Edit {{ page.route }}">
								<a class="no-decoration" href="{{ url_for('admin.pages_detail', page_id=page.id) }}"><i class="btn-fa fas fa-edit"></i></a>
							</span>
							<span class="delete-page" page-id="{{ page.id }}" page-route="{{ page.route }}"
								  page-title="{{ page.title }}" data-toggle="tooltip" data-placement="top"
								  title="Delete {{ page.route }}">
								<i class="btn-fa fas fa-times"></i>
							</span>
						</td> -->
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block entrypoint %}
	<script defer src="{{ url_for('views.themes', theme='admin', path='js/pages/pages.js') }}"></script>
{% endblock %}
