{% extends "admin/base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1>Reset</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<form method="POST" id="reset-ctf-form">
					<div class="alert alert-danger" role="alert">
						<p>
							Resetting your CTF will delete the selected data <strong>PERMANENTLY</strong>.
						</p>

						<p>
							Think carefully before resetting because no automated backups are made and all selected data will be lost.
						</p>

						<span>
							<strong>
								Create backups of all data you need by <a href="{{ url_for('admin.config', _anchor='backup') }}">creating a CTFd Export</a>
								or by copying the database and CTFd source code folder.
							</strong>
						</span>
					</div>

					<hr>

					<div class="form-check pb-1">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox" name="accounts"> Accounts (Users, Teams, Submissions)
						</label>
					</div>

					<div class="form-check pb-1">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox" name="submissions"> Submissions (Submissions, Awards, Unlocks)
						</label>
					</div>

					<div class="form-check pb-1">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox" name="challenges"> Challenges (Challenges, Flags, Hints, Tags, Hints)
						</label>
					</div>

					<div class="form-check pb-1">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox" name="pages"> Pages (Pages)
						</label>
					</div>

					<div class="form-check pb-1">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox" name="notifications"> Notifications (Notifications)
						</label>
					</div>

					<br>

					<input id="nonce" type="hidden" name="nonce" value="{{ nonce }}">

					<button class="btn btn-warning btn-lg btn-block">
						Reset CTF
					</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block entrypoint %}
	<script defer src="{{ url_for('views.themes', theme='admin', path='js/pages/reset.js') }}"></script>
{% endblock %}
