{% extends "admin/base.html" %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>Scoreboard</h1>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<table id="scoreboard" class="table table-striped">
				<thead>
					<tr>
						<td width="10px"><b>Place</b></td>
						<td><b>Team</b></td>
						<td><b>Score</b></td>
						<td><b>Visibility</b></td>
					</tr>
				</thead>
				<tbody>
				{% set user_mode = get_config('user_mode') %}
				{% set attr = 'team_id' if user_mode == 'teams' else 'user_id' %}
				{% for standing in standings %}
					<tr>
						<td>{{ loop.index }}</td>
						<td><a href="{{ request.script_root }}/admin/{{ user_mode }}/{{ standing[attr] }}">{{ standing.name }}</a></td>
						<td>{{ standing.score }}</td>
						<td>
						{% if standing.hidden %}
							<button class="btn-sm btn-danger cursor-pointer" type="submit"
									onclick="toggle_team(this)" team-id="{{ standing[attr] }}" state="hidden">Hidden
							</button>
						{%else %}
							<button class="btn-sm btn-success cursor-pointer" type="submit"
									onclick="toggle_team(this)" team-id="{{ standing[attr] }}" state="visible">Visible
							</button>
						{% endif %}
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
	<script src="{{ request.script_root }}/themes/admin/static/js/scoreboard/scoreboard.js"></script>
{% endblock %}
