{% extends "admin/base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>Teams
			<span class="create-team" role="button" data-toggle="tooltip" title="Create Team">
				<i class="btn-fa fas fa-plus-circle"></i>
			</span>
		</h1>
	</div>
</div>

<div id="update-team-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-action">Edit Team</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body clearfix">
				<form>
					<input type="hidden" name="id">
					<div class="form-group">
						<label for="name">Team Name</label>
						<input type="text" class="form-control" name="name" id="name"
							   placeholder="Enter new team name" required>
					</div>
					<div class="form-group">
						<label for="email">Email</label>
						<input type="email" class="form-control" name="email" id="email"
							   placeholder="Enter new email" required>
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" class="form-control" name="password" id="password"/>
					</div>
					<div class="form-group">
						<label for="website">Website</label>
						<input type="text" class="form-control" name="website" id="website"
							   placeholder="Enter website">
					</div>
					<div class="form-group">
						<label for="affiliation">Affiliation</label>
						<input type="text" class="form-control" name="affiliation" id="affiliation"
							   placeholder="Enter affiliation">
					</div>
					<div class="form-group">
						<label for="affiliation">Country</label>
						<input type="text" class="form-control" name="country" id="country"
							   placeholder="Enter country">
					</div>
					<div class="form-group">
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="admin" id="admin-checkbox">
							<label class="form-check-label" for="admin-checkbox">Admin</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="hidden" id="hidden-checkbox">
							<label class="form-check-label" for="hidden-checkbox">Hidden</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="banned" id="banned-checkbox">
							<label class="form-check-label" for="banned-checkbox">Banned</label>
						</div>
					</div>
					<div id="results">
{#						TODO: Surface error messages #}
					</div>
					<button id="update-team" type="submit"
							class="btn btn-primary btn-outlined float-right modal-action">Update
					</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			{% if q and field%}
			<h4 class="text-center">Searching for teams with {{field}} matching {{q}}</h4>
			{% endif %}

			<form method="GET" class="form-inline">
					<div class="form-group col-md-2">
						<label for="sel1" class="sr-only" >Search Field</label>
						<select name="field" class="form-control w-100" id="sel1">
							<option value="name" {% if field == 'name' %}selected{% endif %}>Name</option>
							<option value="id" {% if field == 'id' %}selected{% endif %}>ID</option>
							<option value="email" {% if field == 'email' %}selected{% endif %}>Email</option>
							<option value="affiliation" {% if field == 'affiliation' %}selected{% endif %}>Affiliation</option>
							<option value="country" {% if field == 'country' %}selected{% endif %}>Country</option>
					  </select>
					</div>
					<div class="form-group col-md-8">
						<label for="team-name-search" class="sr-only">Parameter</label>
						<input type="text" class="form-control w-100" id="team-name-search" name="q" placeholder="Search for matching team names" {% if q %}value="{{q}}"{% endif %}>
					</div>
					<div class="form-group col-md-2">
						<label for="team-name-search" class="sr-only">Search</label>
						<button type="submit" class="btn btn-primary w-100"><i class="fas fa-search" aria-hidden="true"></i></button>
					</div>
			</form>

			<br>

			<table id="teamsboard" class="table table-striped">
				<thead>
					<tr>
						<td width="10px" class="text-center"><b>ID</b>
						</td>
						<td class="text-left"><b>Team</b>
						</td>
						<td class="text-center"><b>Website</b>
						</td>
						<td class="text-center"><b>Country</b>
						</td>
						<td class="text-center"><b>Hidden</b>
						</td>
						<td class="text-center"><b>Banned</b>
						</td>
						<td class="text-center"><b>Settings</b>
						</td>
					</tr>
				</thead>
				<tbody>
					{% for team in teams %}
					<tr name="{{ team.id }}">
						<td class="team-id" value="{{ team.id }}">{{ team.id }}</td>
						<td class="team-name" value="{{ team.name }}">
							<a href="{{ request.script_root }}/admin/teams/{{ team.id }}">
								{{ team.name | truncate(32) }}
							</a>
							<span class="d-block text-muted">
								<small>
									{% if team.affiliation %}
										{{ team.affiliation | truncate(20) }}
									{% endif %}
								</small>
							</span>
						</td>

						<td class="team-website text-center">
							{% if team.website %}
								<a href="{{ team.website }}" target="_blank">
									<i class="btn-fa fas fa-external-link-alt" data-toggle="tooltip" data-placement="top"
									   title="{{ team.website }}" aria-hidden="true"></i>
								</a>
							{% endif %}
						</td>
						<td class="team-country" value="{{ team.country if team.country is not none }}">
							<span>{% if team.country %}{{ team.country }}{% endif %}</span>
						</td>

						<td class="team-hidden d-md-table-cell d-lg-table-cell text-center" value="{{ team.hidden }}">
							{% if team.hidden %}
								<span class="badge badge-danger">hidden</span>
							{% endif %}
						</td>

						<td class="team-banned d-md-table-cell d-lg-table-cell text-center" value="{{ team.banned }}">
							{% if team.banned %}
								<span class="badge badge-danger">banned</span>
							{% endif %}
						</td>
						<td class="text-center"><span>
							<span class="edit-team" data-toggle="tooltip" data-placement="top"
								  title="Modify {{ team.name }}">
								<i class="btn-fa fas fa-edit"></i>
							</span>
							<span class="delete-team" data-toggle="tooltip" data-placement="top"
								  title="Delete {{ team.name }}">
								<i class="btn-fa fas fa-times"></i>
							</span>
						</span>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% if pages > 1 %}
			<div class="text-center">Page
				<br>
				{% if curr_page != 1 %}<a href="{{ request.script_root }}/admin/teams?page={{ curr_page-1 }}">&lt;&lt;&lt;</a>{% endif %}
				{% for page in range(1, pages + 1) %}
					{% if curr_page != page %}
						<a href="{{ request.script_root }}/admin/teams?page={{ page }}">{{ page }}</a>
					{% else %}
						<b>{{ page }}</b>
					{% endif %}
				{% endfor %}
				{% if curr_page != pages %}<a href="{{ request.script_root }}/admin/teams?page={{ curr_page + 1 }}">&gt;&gt;&gt;</a>{% endif %}
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ request.script_root }}/themes/admin/static/js/teams/teams.js"></script>
{% endblock %}
