{% extends "admin/base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>Users
			<span class="create-team" role="button" data-toggle="tooltip" title="Create User">
				<i class="btn-fa fas fa-plus-circle"></i>
			</span>
		</h1>
	</div>
</div>

<div id="email-user" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2>Email Team</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form method="POST">
					<input type="hidden" name="id">
					<input type="hidden" name="nonce" value="{{ nonce }}">
					<textarea class="form-control" name="msg" placeholder="Enter your message here"
							  rows="15"></textarea>
					<br>
					<div id="email-user-errors"></div>
					<button type="button" id="send-user-email" class="btn btn-primary float-right">
						Send Message
					</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div id="update-user-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-action">Edit User</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body clearfix">
				<form>
					<input type="hidden" name="id">
					<div class="form-group">
						<label for="name">Team Name</label>
						<input type="text" class="form-control" name="name" id="name"
							   placeholder="Enter new team name" required>
					</div>
					<div class="form-group">
						<label for="email">Email</label>
						<input type="email" class="form-control" name="email" id="email"
							   placeholder="Enter new email" required>
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" class="form-control" name="password" id="password"/>
					</div>
					<div class="form-group">
						<label for="website">Website</label>
						<input type="text" class="form-control" name="website" id="website"
							   placeholder="Enter website">
					</div>
					<div class="form-group">
						<label for="affiliation">Affiliation</label>
						<input type="text" class="form-control" name="affiliation" id="affiliation"
							   placeholder="Enter affiliation">
					</div>
					<div class="form-group">
						<label for="affiliation">Country</label>
						<input type="text" class="form-control" name="country" id="country"
							   placeholder="Enter country">
					</div>
					<div class="form-group">
						<div class="form-check form-check-inline">
{#							TODO: Properly align this with what the user type actually is#}
							<select class="form-control form-inline" id="type-select" name="type">
								<option value="user">User</option>
								<option value="admin">Admin</option>
							</select>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="verified" id="verified-checkbox">
							<label class="form-check-label" for="verified-checkbox">Verified</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="hidden" id="hidden-checkbox">
							<label class="form-check-label" for="hidden-checkbox">Hidden</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="banned" id="banned-checkbox">
							<label class="form-check-label" for="banned-checkbox">Banned</label>
						</div>
					</div>
					<div id="results">

					</div>
					<button id="update-user" type="submit"
							class="btn btn-primary btn-outlined float-right modal-action">Update
					</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			{% if q and field %}
			<h4 class="text-center">Searching for teams with {{field}} matching {{q}}</h4>
			{% endif %}

			<form method="GET" class="form-inline">
					<div class="form-group col-md-2">
						<label for="sel1" class="sr-only" >Search Field</label>
						<select name="field" class="form-control w-100" id="sel1">
							<option value="name" {% if field == 'name' %}selected{% endif %}>Name</option>
							<option value="id" {% if field == 'id' %}selected{% endif %}>ID</option>
							<option value="email" {% if field == 'email' %}selected{% endif %}>Email</option>
							<option value="affiliation" {% if field == 'affiliation' %}selected{% endif %}>Affiliation</option>
							<option value="country" {% if field == 'country' %}selected{% endif %}>Country</option>
					  </select>
					</div>
					<div class="form-group col-md-8">
						<label for="team-name-search" class="sr-only">Parameter</label>
						<input type="text" class="form-control w-100" id="team-name-search" name="q" placeholder="Search for matching team names" {% if q %}value="{{q}}"{% endif %}>
					</div>
					<div class="form-group col-md-2">
						<label for="team-name-search" class="sr-only">Search</label>
						<button type="submit" class="btn btn-primary w-100"><i class="fas fa-search" aria-hidden="true"></i></button>
					</div>
			</form>

			<br>

			<table id="teamsboard" class="table table-striped">
				<thead>
					<tr>
						<td width="10px" class="text-center"><b>ID</b>
						</td>
						<td class="text-center"><b>Team</b>
						</td>
						<td class="d-md-table-cell d-lg-table-cell text-center"><b>Email</b>
						</td>
						<td class=""><b>Website</b>
						</td>
						<td class=""><b>Country</b>
						</td>
						<td class="text-center"><b>Admin</b>
						</td>
						<td class="text-center"><b>Verified</b>
						</td>
						<td class="text-center"><b>Hidden</b>
						</td>
						<td class="text-center"><b>Banned</b>
						</td>
						<td class="text-center"><b>Settings</b>
						</td>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
					<tr name="{{ user.id }}">
						<td class="team-id" value="{{ user.id }}">{{ user.id }}</td>
						<td class="team-name" value="{{ user.name }}">
							<a href="{{ request.script_root }}/admin/team/{{ user.id }}">
								{{ user.name | truncate(32) }}
							</a>
							{% if user.affiliation %}
								<span class="d-block text-muted"><small>{{ user.affiliation | truncate(20) }}</small></span>
							{% endif %}
						</td>
						<td class="team-email d-none d-md-table-cell d-lg-table-cell" value="{{ user.email }}">
							{% if user.email %}
								<a href="mailto:{{ user.email }}" target="_blank">{{ user.email | truncate(32) }}</a>
							{% endif %}
						</td>
						<td class="team-website text-center">
							{% if user.website %}
								<a href="{{ user.website }}" target="_blank">
									<i class="btn-fa fas fa-external-link-alt" data-toggle="tooltip" data-placement="top"
									   title="{{ user.website }}" aria-hidden="true"></i>
								</a>
							{% endif %}
						</td>
						<td class="team-country" value="{{ user.country if user.country is not none }}">
							<span>{% if user.country %}{{ user.country }}{% endif %}</span>
						</td>
						<td class="team-admin d-md-table-cell d-lg-table-cell text-center" value="{{ user.type }}">
							{% if user.type == 'admin' %}
								<span class="badge badge-primary">admin</span>
							{% endif %}
						</td>
						<td class="team-verified d-md-table-cell d-lg-table-cell text-center" value="{{ user.verified }}">
							{% if user.verified %}
								<span class="badge badge-success">verified</span>
							{% endif %}
						</td>
						<td class="team-hidden d-md-table-cell d-lg-table-cell text-center" value="{{ user.hidden }}">
							{% if user.hidden %}
								<span class="badge badge-danger">hidden</span>
							{% endif %}
						</td>
						<td class="team-banned d-md-table-cell d-lg-table-cell text-center" value="{{ user.banned }}">
							{% if user.banned %}
								<span class="badge badge-danger">banned</span>
							{% endif %}
						</td>
						<td class="text-center"><span>
							<span class="edit-team" data-toggle="tooltip" data-placement="top"
								  title="Modify {{ user.name }}">
								<i class="btn-fa fas fa-edit"></i>
							</span>
							{% if can_send_mail() %}
							<span class="email-team" data-toggle="tooltip" data-placement="top"
								  title="Email {{ user.name }}">
								<i class="btn-fa fas fa-envelope"></i>
							</span>
							{% endif %}
							<span class="delete-team" data-toggle="tooltip" data-placement="top"
								  title="Delete {{ user.name }}">
								<i class="btn-fa fas fa-times"></i>
							</span>
						</span>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% if pages > 1 %}
			<div class="text-center">Page
				<br>
				{% if curr_page != 1 %}<a href="{{ request.script_root }}/admin/users?page={{ curr_page-1 }}">&lt;&lt;&lt;</a>{% endif %}
				{% for page in range(1, pages + 1) %}
					{% if curr_page != page %}
						<a href="{{ request.script_root }}/admin/users?page={{ page }}">{{ page }}</a>
					{% else %}
						<b>{{ page }}</b>
					{% endif %}
				{% endfor %}
				{% if curr_page != pages %}<a href="{{ request.script_root }}/admin/users?page={{ curr_page + 1 }}">&gt;&gt;&gt;</a>{% endif %}
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ request.script_root }}/themes/admin/static/js/users/users.js"></script>
{% endblock %}
