{% extends "base.html" %}

{% block content %}
<div class="jumbotron home">
    <div class="container">
        <h1>Reset Password</h1>
    </div>
</div>
<div class="container main-container">
    <div class="row">
        <div id="login-container" class="col-md-6 col-md-offset-3">
            {% for error in errors %}
            <div class="row">
                <div class="alert alert-danger alert-dismissable" role="alert">
                  <span class="sr-only">Error:</span>
                  {{ error }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
            </div>
            {% endfor %}
            <form method="post" accept-charset="utf-8" autocomplete="off" role="form" class="form-horizontal">
                <div class="form-group ">
                    {% if mode %}
                    <input type="password" class="form-control" id="password-input" name="password" required="" placeholder="Password">
                    {% else %}
                    <input type="email" class="form-control" id="text-input" name="email" required="" placeholder="Email">
                    {% endif %}
                </div>
                <br/>
                <div class="form-group">
                    <button type="submit" id="submit" tabindex="5" class="btn btn-md btn-primary btn-theme btn-outlined pull-right">Submit</button>
                </div>
            </form>         
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
