{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
<div class="jumbotron home">
    <div class="container">
        <h1>Setup</h1>
    </div>
</div>
<div class="container main-container">
    <div id="login-container" class="col-md-6 col-md-offset-3">
        <h2 class="text-center">CTF Settings</h2>
        {% for error in errors %}
        <div class="submit-row">
            <div class="alert alert-danger alert-dismissable" role="alert">
              <span class="sr-only">Error:</span>
              {{ error }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
        </div>
        {% endfor %}
        <form method="post" accept-charset="utf-8" autocomplete="off" role="form" class="form-horizontal">
            <input type="hidden" name="nonce" value="{{nonce}}"> {# This nonce is implemented specially in the route itself #}

            <div class="form-group">
                <label for="ctf_name">CTF Name</label>
                <input class="form-control" id="ctf_name" name="ctf_name" type="text" placeholder="CTF Name">
            </div>

            <div class="form-group">
                <label for="username-input">Admin Username</label>
                <input class="form-control" id="username-input" name="name" type="text" placeholder="Admin Username">
            </div>

            <div class="form-group">
                <label for="email-input">Admin Email</label>
                <input class="form-control" id="email-input" name="email" type="text" placeholder="Admin Email">
            </div>

            <div class="form-group">
                <label for="password-input">Admin Password</label>
                <input class="form-control" id="password-input" name="password" type="text" placeholder="Admin Password">
            </div>
            <br/>
        </div>
    </div>
    <div class="container main-container" style="margin-bottom:100px;">
        <div id="login-container" class="col-md-6 col-md-offset-3">
            <div class="submit-row text-center">
                <button type="submit" id="submit" tabindex="5" class="btn btn-md btn-theme btn-outlined">Submit</button>
            </div>
        </div>
    </div>
    </form>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}
