.flip-list-move[data-v-a3fa86b4] {
    transition: transform 0.5s ease;
  }
  
  .scrollbox[data-v-a3fa86b4] {
    overflow: auto;
    max-height: 40vh;
    background: linear-gradient(#2c2c42 30%, #2c2c4200),
      linear-gradient(#2c2c4200, #2c2c42 70%) 0 100%,
      radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
      radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0))
        0 100%;
    background: linear-gradient(#2c2c42 30%, #2c2c4200),
      linear-gradient(#2c2c4200, #2c2c42 70%) 0 100%,
      radial-gradient(farthest-side at 50% 0, #0003, #0000),
      radial-gradient(farthest-side at 50% 100%, #0003, #0000) 0 100%;
    background-repeat: no-repeat;
    background-color: #2c2c42;  /*Dark Purple scroll background*/
      color: #d0d0dc; /* Dark text */
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    background-attachment: local, local, scroll, scroll;
  }