<div class="modal-dialog" role="document">
	<div class="modal-content" style="
    left: -45%;
    width: 2104px;
    border-radius: 40px!important;
    padding: 40px;
    ">
		<div class=" modal-body" style="
		width: 93%;
		left: 3%;
		font-size: 20px;
		font-family: 'Hahmlet-Bold'">
			<button type=" button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link active" style="background-color: #e9ecef;border-color: #e9ecef;"
						href="#challenge">Challenge</a>
				</li>
				{% block solves %}
				<li class="nav-item">
					<a class="nav-link challenge-solves" href="#solves">
						{% if solves != None %}
						{{ solves }} {% if solves > 1 %}Solves{% else %}Solves{% endif %}
						{% endif %}
					</a>
				</li>
				{% endblock %}
			</ul>
			<div role="tabpanel">
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade show active" id="challenge">
						<div
							style="background: #e9ecef;color: #5668a3;border-radius: 20px;border-top-left-radius: 0px;padding-bottom: 15px;background-image: url(&quot;themes/core/static/img/anchor.png&quot;),url(&quot;themes/core/static/img/boat.png&quot;);background-size: 77px, 73px;background-repeat: no-repeat;background-position: 91% 60%, 10% 60%;">
							<h2 class='challenge-name text-center pt-3'>
								{{ challenge.name }}
							</h2>
							<h3 class="challenge-value text-center">
								{{ challenge.value }}
							</h3>
						</div>
						<div class="challenge-tags text-center">
							{% block tags %}
							{% for tag in tags %}
							<span class='badge badge-info challenge-tag'>{{ tag }}</span>
							{% endfor %}
							{% endblock %}
						</div>

						<div class="row submit-row" style="
						margin-top: 50px;
					">
							<div
								style="font-size: 1.125rem;font-weight: 700;text-align: center;margin: 14px 0;margin-left: 23px;">
								<i class="fas fa-flag"></i>
								Flag를 입력하세요
							</div>
							<div class="col-md-5 form-group">

								<input id="challenge-id" class="challenge-id" type="hidden" value="1">
								<input id="challenge-input" class="challenge-input form-control" type="text"
									name="answer" placeholder="Flag" style="width: 122%;border-radius: 20px;">

							</div>
							<div class="col-md-2 form-group key-submit" style="
							margin-left: 59px;
						">

								<button id="challenge-submit"
									class="challenge-submit btn btn-md btn-outline-secondary float-right" type="submit"
									style="border-radius: 20px;/* margin-left: 43px; */">
									제출하기
								</button>

							</div>
						</div>

						<div style="
					background: #dee2e6;
					padding: 32px;
					border-radius: 29px;
				">
							<div class="challenge-custom"> 문제 설명</div>
							<hr>
							<span class="challenge-desc"
								style="font-size: 15px;font-weight: 900 !important;border-radius: 20px;padding: 20px;background-image: url(themes/core/static/img/sailor.png);background-size: 104px;background-repeat: no-repeat;background-position: 91% 60%;">
								{% block description %}{{ challenge.html }}{% endblock %}</span>

							<div>
								<div class="challenge-custom-2"
									style="font-size: 17px;padding-left: 0px;float:left;padding-top: 9px;width: 100px;height: 40px;">
									접속 정보</div>
								<span class="challenge-connection-info" style="padding-left: 20px;">
									{% block connection_info %}
									{% set conn = challenge.connection_info %}
									{% if not conn %}
									{% elif conn.startswith("http") %}
									{{ conn | urlize(target="_blank") }}
									{% else %}
									<code>{{ conn }}</code>
									{% endif %}
									{% endblock %}
								</span>
							</div>
							<hr>
							<div class="row challenge-files text-center pb-3" style="margin: 1px;">

								<div class="challenge-custom-2"
									style="font-size: 17px;padding-left: 0px;padding-top: 9px;width: 100px;height: 40px;">
									문제 파일</div>
								{% for file in files %}
								<div class='col-md-4 col-sm-4 col-xs-12 file-button-wrapper d-block'>
									<a class='btn btn-info btn-file mb-1 d-inline-block px-2 w-100 text-truncate'
										href='{{ file }}' style="
										background: #2f4022 !important;
										border-radius: 10px;
									">
										<i class="fas fa-download"></i>
										<small>
											{% set segments = file.split('/') %}
											{% set file = segments | last %}
											{% set token = file.split('?') | last %}
											{% if token %}
											{{ file | replace("?" + token, "") }}
											{% else %}
											{{ file }}
											{% endif %}
										</small>
									</a>
								</div>
								{% endfor %}
							</div>
							<hr>
							<div class="challenge-hints hint-row row">
								{% for hint in hints %}
								<div class='col-md-12 hint-button-wrapper text-center mb-3'>
									<a class="btn btn-info btn-hint btn-block load-hint" href="javascript:;"
										data-hint-id="{{ hint.id }}" style="
										background-image: url(themes/core/static/img/notes.png);
										background-size: 27px;
										background-repeat: no-repeat;
										background-position: 42% 60%;
										border-radius: 10px!important;
										width: 100%;
										color: #383d41;
										background-color: #b8c3e7!important;
										">




										{% if hint.content %}
										<small>
											힌트 보기
										</small>
										{% else %}
										{% if hint.cost %}
										<small>
											Unlock Hint for {{ hint.cost }} points
										</small>
										{% else %}
										<small>
											힌트 보기
										</small>
										{% endif %}
										{% endif %}
									</a>
								</div>
								{% endfor %}
							</div>

						</div>
						{% if max_attempts > 0 %}
						<div class="row text-center">
							<div class="col-md-12">
								<p>
									{{ attempts }}/{{ max_attempts }} attempt{{ max_attempts|pluralize }}
								</p>
							</div>
						</div>
						{% endif %}



						<div class="row notification-row">
							<div class="col-md-12">
								<div id="result-notification" class="alert alert-dismissable text-center w-100"
									role="alert" style="display: none;">
									<strong id="result-message"></strong>
								</div>
							</div>
						</div>
					</div>

					<div role="tabpanel" class="tab-pane fade" id="solves">
						<div class="row">
							<div class="col-md-12">
								<table class="table table-striped text-center">
									<thead>
										<tr>
											<td><b>Name</b>
											</td>
											<td><b>Date</b>
											</td>
										</tr>
									</thead>
									<tbody id="challenge-solves-names">
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>