{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1>Confirm</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				{% include "components/errors.html" %}

				<h3 class="text-center">
					We've sent a confirmation email to your email address.
				</h3>

				<br>

				<h4 class="text-center">
					Please click the link in that email to confirm your account.
				</h4>

				<hr>

				{% with form = Forms.auth.ConfirmForm() %}
				<form method="POST" action="{{ url_for('auth.confirm') }}">
					<h4 class="text-center">
						Need to resend the confirmation email?
					</h4>
					<div class="col-md-12 text-center">
						{{ form.submit(class="btn btn-md btn-primary btn-outlined") }}
					</div>
					{{ form.nonce() }}
				</form>
				{% endwith %}
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
{% endblock %}

