{% extends "base.html" %}

{% block content %}
  <div class="jumbotron">
    <div class="container">
      <h1>{% trans %}Team{% endtrans %}</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <p class="h2">{% trans %}Welcome to{% endtrans %} {{ Configs.ctf_name }}!</p>
        <p>
          Please hang tight while we wait for the rest of the players. You will be assigned to your team shortly.
        </p>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
{% endblock %}
