CTFd/logs/*.log
CTFd/static/uploads
CTFd/uploads
CTFd/*.db
CTFd/uploads/**/*
.ctfd_secret_key
.data

.codecov.yml
.dockerignore
.git
.github
.gitignore
.prettierignore
.travis.yml
*.md
Dockerfile
Vagrantfile
development.txt
docker-compose.yml
docs
setup.cfg
tests
