# Cloudflared tunnel token
CLOUDFLARED_TUNNEL_TOKEN=eyJ...

# An optional ntfy URL for pub-sub notifications of challenge solves/other custom features
PHOTO_NTFY_URL=https://ntfy.sh/XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# MariaDB
MARIADB_ROOT_PASSWORD=ctfd
MARIADB_USER=ctfd
MARIADB_PASSWORD=ctfd
MARIADB_DATABASE=ctfd

# SMTP (e.g. SMTP2GO)
# MAILFROM_ADDR=noreply@example.com
# MAIL_SERVER=mail.smtp2go.com
# MAIL_PORT=2525
# MAIL_USEAUTH=true
# MAIL_USERNAME=your_smtp2go_username
# MAIL_PASSWORD=your_smtp2go_password
# MAIL_TLS=true
# MAIL_SSL=false
