CTFd/themes/**/vendor/
CTFd/themes/core-deprecated/
CTFd/themes/core/static/
CTFd/themes/core-beta/**/*
CTFd/themes/admin/static/**/*
CTFd/themes/bsidesct2023/**/*
CTFd/themes/bsidesct2024/**/*
CTFd/themes/bsidesct2025/**/*
CTFd/themes/bsidesct2026/**/*
CTFd/themes/crimson/**/*
*.html
*.njk
*.png
*.svg
*.ico
*.ai
*.svg
*.mp3
*.webm
*.woff
*.woff2
*.ttf
*.eot
*.jpg
*.jpeg
*.gif
.pytest_cache
venv*
.venv*
