alabaster==0.7.12
alembic==1.4.1
aniso8601==8.0.0
apipkg==1.5
atomicwrites==1.3.0
attrs==19.3.0
aws-xray-sdk==0.95
Babel==2.8.0
banal==0.4.2
bandit==1.5.1
bcrypt==3.1.7
blinker==1.4
boto==2.49.0
boto3==1.10.39
botocore==1.13.50
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Click==7.0
codecov==2.0.15
coverage==4.5.2
cryptography==2.8
datafreeze==0.1.0
dataset==1.1.2
docker==4.2.0
docutils==0.15.2
ecdsa==0.15
entrypoints==0.3
execnet==1.7.1
flake8==3.7.7
flake8-isort==2.8.0
Flask==1.1.1
Flask-Caching==1.4.0
Flask-DebugToolbar==0.10.1
Flask-HTTPAuth==3.3.0
flask-marshmallow==0.10.1
Flask-Migrate==2.5.2
flask-profiler==1.7
flask-restx==0.1.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.1
freezegun==0.3.11
future==0.18.2
gevent==1.4.0
gitdb==4.0.2
GitPython==3.1.0
greenlet==0.4.15
gunicorn==19.9.0
idna==2.9
imagesize==1.2.0
importlib-metadata==1.5.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.1
jmespath==0.9.5
jsondiff==1.1.1
jsonpickle==1.3
jsonschema==3.2.0
Mako==1.1.2
MarkupSafe==1.1.1
marshmallow==2.20.2
marshmallow-sqlalchemy==0.17.0
mccabe==0.6.1
mistune==0.8.4
mock==2.0.0
more-itertools==8.2.0
moto==1.3.7
netaddr==0.7.19
normality==2.0.0
packaging==20.3
passlib==1.7.2
pathlib2==2.3.5
pbr==5.4.4
pluggy==0.13.1
psycopg2==2.7.5
psycopg2-binary==2.7.5
py==1.8.1
pyaml==19.12.0
pycodestyle==2.5.0
pycparser==2.20
pycryptodome==3.9.7
pyflakes==2.1.1
Pygments==2.5.2
PyMySQL==0.9.3
pyparsing==2.4.6
pyrsistent==0.15.7
pytest==4.4.0
pytest-cov==2.6.1
pytest-forked==1.1.3
pytest-randomly==1.2.3
pytest-xdist==1.28.0
python-dateutil==2.8.1
python-dotenv==0.10.3
python-editor==1.0.4
python-jose==2.0.2
pytz==2019.3
PyYAML==5.3
redis==3.3.11
requests==2.23.0
responses==0.10.12
s3transfer==0.2.1
simplejson==3.17.0
six==1.13.0
smmap==3.0.1
snowballstemmer==2.0.0
Sphinx==2.4.4
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.3.11
SQLAlchemy-Utils==0.36.0
stevedore==1.32.0
testfixtures==6.14.0
text-unidecode==1.3
toml==0.10.0
urllib3==1.25.8
websocket-client==0.57.0
Werkzeug==0.16.0
wrapt==1.12.0
xmltodict==0.12.0
zipp==3.1.0
