{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="rpgui-container framed" style="width: max(800px, 80%)">
    <h1>Reset Password</h1>
	<div class="row">
		<div class="col-md-6 offset-md-3">
			{% include "components/errors.html" %}

			{% if mode == "set" %}
				{% with form = Forms.auth.ResetPasswordForm() %}
				<form method="post" accept-charset="utf-8" autocomplete="off" role="form" class="form-horizontal">
					<div class="row">
						<div class="col-md-12">
							<p>You can now reset the password for your account and log in. Please enter in a new password below.</p>
						</div>
					</div>
					<div class="form-group">
						{{ form.password.label }}
						{{ form.password() }}
					</div>
					<div class="row">
						<div class="col-md-6 offset-md-6">
                            <div class="float-right">
                                <button class="rpgui-button" id="_submit" name="_submit" type="submit">Reset</button>
                            </div>
						</div>
					</div>
					{{ form.nonce() }}
				</form>
				{% endwith %}
			{% else %}
				{% with form = Forms.auth.ResetPasswordRequestForm() %}
				<form method="post" accept-charset="utf-8" autocomplete="off" role="form" class="form-horizontal">
					<div class="row">
						<div class="col-md-12">
							<p>Please provide the email address associated with your account below.</p>
						</div>
					</div>
					<div class="form-group">
						{{ form.email.label }}
						{{ form.email() }}
					</div>
					<div class="row">
						<div class="col-md-6 offset-md-6">
                            <div class="float-right">
                            <button class="rpgui-button" id="_submit" name="_submit" type="submit">Reset</button>
                            </div></div>
					</div>
					{{ form.nonce() }}
				</form>
				{% endwith %}
			{% endif %}
		</div>
	</div>
    </div></div>
{% endblock %}

{% block scripts %}
{% endblock %}
