.submit-row {
    padding-left: 15px;
    padding-right: 30px;
}

.input {
    width: 100%;
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1em 0em;
    vertical-align: top;
}

.input-field {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #aaa;
    font-weight: 400;
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input-field:focus {
    outline: none;
}

.input-label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #6a7989;
    font-weight: bold;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.label-content {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
}

.graphic {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
}

.icon {
    color: #ddd;
    font-size: 150%;
}

.input-field {
    width: 100%;
    background-color: #eee;
    border: 2px solid transparent;
    -webkit-transition: background-color 0.3s, border-color 0.3s;
    transition: background-color 0.3s, border-color 0.3s;
}

.input-label {
    width: 100%;
    text-align: left;
    position: absolute;
    bottom: 100%;
    pointer-events: none;
    overflow: hidden;
    padding: 0 1.25em;
    -webkit-transform: translate3d(0, 3em, 0);
    transform: translate3d(0, 3em, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.label-content {
    color: #8B8C8B;
    padding: 0.25em 0;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.label-content::after {
    content: attr(data-content);
    position: absolute;
    font-weight: 800;
    bottom: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    color: #a3d39c;
    padding: 0.25em 0;
    letter-spacing: 1px;
    font-size: 0.85em;
}

.input-field:focus + .input-field,
.input--filled .input-field {
    background-color: transparent;
    border-color: #a3d39c;
}

.input--hide {
    display: none;
}

#submit {
    position: relative;
    right: -15px;
}

.done-row {
    margin: 0px;
}

