<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header text-center">
            <h3>Regex Key</h3>
        </div>
        <div class="modal-body">
            <form method="POST" action="{{ script_root }}/admin/keys/{{id}}" style="text-align:center">
                <input type="text" id="key-data" class="form-control" name="key" value="{{key}}" placeholder="Enter regex key data">
                <input type="hidden" id="key-type" name="key_type" value="1">
                <input type="hidden" id="key-id">
                <hr>
                <div class="row">
                    <input type="hidden" value="{{ nonce }}" name="nonce" id="nonce">
                    <button id="submit-keys" class="btn btn-theme btn-outlined">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>