<form id="user-award-form" method="POST">
	<div class="form-group">
		<label for="award-name-input">Name</label>
		<input type="text" class="form-control" id="award-name-input" name="name">
	</div>
	<div class="form-group">
		<label for="award-value-input">Value</label>
		<input type="number" class="form-control" id="award-value-input" name="value">
	</div>
	<div class="form-group">
		<label for="award-category-input">Category</label>
		<input type="text" class="form-control" id="award-category-input" name="category">
	</div>
	<div class="form-group">
		<label for="award-description-input" class="control-label">Description</label>
		<textarea id="award-description-input" class="form-control" name="description" rows="10"></textarea>
	</div>
	<div class="form-group">
		<label for="award-icon-input">Icon</label>
		<i class="fas fa-shield-alt pr-1"></i>
		<i class="fas fa-bug pr-1"></i>
		<i class="fas fa-crown pr-1"></i>
		<i class="fas fa-crosshairs pr-1"></i>
		<i class="fas fa-ban pr-1"></i>
		<i class="fas fa-bolt pr-1"></i>
		<i class="fas fa-skull pr-1"></i>
		<i class="fas fa-brain"></i>
		<i class="fas fa-code"></i>
		<i class="fas fa-hat-cowboy"></i>
		<select class="form-control" id="award-icon-input" name="icon">
			<option value=""> -- </option>
			<option value="shield">Shield</option>
			<option value="bug">Bug</option>
			<option value="crown">Crown</option>
			<option value="crosshairs">Crosshairs</option>
			<option value="ban">Ban</option>
			<option value="lightning">Lightning</option>
			<option value="skull">Skull</option>
			<option value="brain">Brain</option>
			<option value="code">Code</option>
			<option value="cowboy">Cowboy</option>
		</select>
	</div>
	<div id="results">
	</div>
	<div class="modal-footer">
		<button type="submit" id="award-create-button" class="btn btn-primary">Create</button>
	</div>
</form>
