<form id="user-award-form" method="POST">
	<div class="form-group">
		<label for="award-name-input">Name</label>
		<input type="text" class="form-control" id="award-name-input" name="name">
	</div>
	<div class="form-group">
		<label for="award-value-input">Value</label>
		<input type="number" class="form-control" id="award-value-input" name="value">
	</div>
	<div class="form-group">
		<label for="award-category-input">Category</label>
		<input type="text" class="form-control" id="award-category-input" name="category">
	</div>
	<div class="form-group">
		<label for="award-description-input" class="control-label">Description</label>
		<textarea id="award-description-input" class="form-control" name="description" rows="10"></textarea>
	</div>
	<div id="results">
	</div>
	<div class="modal-footer">
		<button type="submit" id="award-create-button" class="btn btn-primary">Create</button>
	</div>
</form>
