.ll-nam {
  color: #e3e7ed;
}
.ll-num {
  color: #005cc5;
}
.ll-str {
  color: #20c997;
}
.ll-rex {
  color: #1757a0;
}
.ll-pct {
  color: #0550ae;
}
.ll-key {
  color: #e04b5a;
  font-weight: normal;
}
.ll-com {
  color: #86919e;
  font-style: italic;
}
