.filter-dropdown {
  cursor: pointer;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  color: #484654;
  padding: 15px;
  position: relative;
  user-select: none;

  &.active {
    background: #E9E7EB;
    font-weight: 600;
  }

  &.position-left {
    border-right: 1px solid #E9E7EB;
  }

  &.position-right {
    border-left: 1px solid #E9E7EB;
  }

  i {
    margin-left: 5px;
  }

  .dropdown-items {
    display: none;
    background: #FFFFFF;
    border: 2px solid #E9E7EB;
    left: 0;
    top: 100%;
    min-width: 120%;
    position: absolute;
    z-index: 3;
    animation: 0.2s scaleIn;
    transform-origin: left top;

    .dropdown-item {
      padding: 15px;
      white-space: nowrap;

      &:hover {
        background: #E9E7EB;
      }
    }
  }

  &.active {
    .dropdown-items {
      display: block;
    }
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1.0);
  }
}