.filter-dropdown {
  cursor: pointer;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  color: #484654;
  padding: 15px;
  position: relative;
  user-select: none;

  &.active {
    background: #E9E7EB;
    font-weight: 600;
  }

  &.position-left {
    border-right: 1px solid #E9E7EB;
  }

  &.position-right {
    border-left: 1px solid #E9E7EB;
  }

  i {
    margin-left: 10px;
  }

  .dropdown-items {
    display: none;
    background: #FFFFFF;
    border: 1px solid #E9E7EB;
    left: 0;
    top: 100%;
    min-width: 120%;
    position: absolute;
    z-index: 3;
    animation: 0.2s scaleIn;
    transform-origin: left top;

    .dropdown-item {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      font-weight: 400;
      font-size: 13px;
      padding: 15px;
      white-space: nowrap;

      &:hover, &.active {
        background: #E9E7EB;
      }

      .icon-span {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }
    }
  }

  &.active {
    .dropdown-items {
      display: block;
    }
  }
}

.check {
  width: 27px;
  height: 27px;
  margin-bottom: 0;
  margin-left: 15px;
  position: relative;

  input {
    display: none;
    margin: 0;
    &:checked + .box {

      &:after {
        border-color: #484654;
      }
    }
  }

  .box {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &:after {
      content: '';
      display: block;
      width: 6px;
      height: 12px;
      border: solid #AFB0B3;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      left: 11px;
      top: 6px;
      position: relative;
    }
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1.0);
  }
}