<form>
  <!-- <div class="form-group">
    <label>Challenge Window Size</label>
    <select class="form-control custom-select" name="challenge_window_size">
        <option value="sm">Small</option>
        <option value="norm">Normal</option>
        <option value="lg">Large</option>
        <option value="xl">Extra Large</option>
    </select>
  </div> -->

  <div class="form-group">
    <label>
      Challenge Category Order Custom Function<br>
      <small class="form-text text-muted">
        Define a <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort#description" target="_blank">custom compareFn function for Array.sort()</a> 
        used to sort the challenge categories
      </small>
    </label>
    <textarea class="form-control text-monospace" name="challenge_category_order" rows="5"></textarea>
  </div>

  <div class="form-group">
    <label>
      Challenge Order Custom Function<br>
      <small class="form-text text-muted">
        Define a <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort#description" target="_blank">custom compareFn function for Array.sort()</a> 
        used to sort the challenges within categories
      </small>
    </label>
    <textarea class="form-control text-monospace" name="challenge_order" rows="5"></textarea>
  </div>

  <div class="form-group">
    <label>Home page social link icon</label>
    <input class="form-control" name="social_link_icon"></textarea>
  </div>
  <div class="form-group">
    <label>Home page social link URL</label>
    <input class="form-control" name="social_link_url"></textarea>
  </div>
  <div class="form-group">
    <label>Social banner URL</label>
    <input class="form-control" name="social_banner"></textarea>
  </div>
  <div class="form-group">
    <label>Social description</label>
    <input class="form-control" name="social_desc"></textarea>
  </div>
  <div class="form-group">
    <label>Category name for “Miscellaneous”</label>
    <input class="form-control" name="cat_name_misc"></textarea>
  </div>
  <div class="form-group">
    <label>Category name for “Cryptography”</label>
    <input class="form-control" name="cat_name_crypto"></textarea>
  </div>
  <div class="form-group">
    <label>Category name for “Forensics”</label>
    <input class="form-control" name="cat_name_forensics"></textarea>
  </div>
  <div class="form-group">
    <label>Category name for “Reverse Engineering”</label>
    <input class="form-control" name="cat_name_rev"></textarea>
  </div>
  <div class="form-group">
    <label>Category name for “Binary Exploitation”</label>
    <input class="form-control" name="cat_name_pwn"></textarea>
  </div>
  <div class="form-group">
    <label>Category name for “Professional Programming &amp; Coding”</label>
    <input class="form-control" name="cat_name_ppc"></textarea>
  </div>
  <div class="form-group">
    <label>Category name for “Web Applications”</label>
    <input class="form-control" name="cat_name_web"></textarea>
  </div>
  <div class="form-group">
    <label>Category name for “Blockchains”</label>
    <input class="form-control" name="cat_name_blockchains"></textarea>
  </div>
  <div class="form-group">
    <label>Placeholder for flag format</label>
    <input class="form-control" name="flag_placeholder"></textarea>
  </div>
  <div class="form-group">
    <label>Tag for difficulty 1</label>
    <input class="form-control" name="tag_difficulty_1"></textarea>
  </div>
  <div class="form-group">
    <label>Tag for difficulty 2</label>
    <input class="form-control" name="tag_difficulty_2"></textarea>
  </div>
  <div class="form-group">
    <label>Tag for difficulty 3</label>
    <input class="form-control" name="tag_difficulty_3"></textarea>
  </div>
  <div class="form-group">
    <label>Tag for difficulty 4</label>
    <input class="form-control" name="tag_difficulty_4"></textarea>
  </div>
  <div class="form-group">
    <label>Tag for difficulty 5</label>
    <input class="form-control" name="tag_difficulty_5"></textarea>
  </div>

  <button type="submit" class="float-right btn btn-primary">Update</button>
</form>