{% extends "templates/plain.html" %}

{% block plainContent %}
{% with form = Forms.auth.ConfirmForm() %}
<form method="POST" action="{{ url_for('auth.confirm') }}" open class="modal centered fit">
  <h2 class="modalHeader">{% trans %}Confirm{% endtrans %}</h2>
  <div class="modalBody" style="display: flex; flex-direction: column; gap: 1rem;">

    <div>
      {% trans %}We've sent a confirmation email to your email address.{% endtrans %}
    </div>

    <div>
      {% trans %}Please click the link in that email to confirm your account.{% endtrans %}
    </div>

    <div>
      {% trans %}If the email doesn’t arrive, check your spam folder or
      contact an administrator to manually verify your account.{% endtrans %}
    </div>
    {% include "components/errors.html" %}

    {{ form.nonce() }}
  </div>
  <div class="modalFooter">
    <a class="button textButton shade" href="{{ url_for('views.settings') }}">
      <span>{% trans %}Change email address{% endtrans %}</span>
    </a>
    <button class="button textButton primary shade" type="submit">
      <span>{% trans %}Resend email{% endtrans %}</span>
    </button>
  </div>
</form>
{% endwith %}
{% endblock %}
