{% extends "templates/plain.html" %}
{% from "macros/input.html" import wtf_input_field %}
{% from "macros/forms.html" import render_extra_fields %}

{% block plainContent %}

<form method="post" accept-charset="utf-8" autocomplete="off" role="form" class="modal centered fit">
  <h2 class="modalHeader">{% trans %}Reset Password{% endtrans %}</h2>

  {% if mode == "set" %}
    {% with form = Forms.auth.ResetPasswordForm() %}
    <div class="modalBody formFields">
      <p class="formHint">
        {% trans %}You can now reset the password for your account and log in. Please enter in a new password below.{% endtrans %}
      </p>

      {{ form.password.label(class="chip") }}
      {{ wtf_input_field(form.password(class="")) }}
      {{ form.nonce() }}

      {% include "components/errors.html" %}

    </div>
    <div class="modalFooter">
      <button class="button textButton shade" type="submit">
        <span>{% trans %}Submit{% endtrans %}</span>
      </button>
    </div>
    {% endwith %}
  {% else %}
    {% with form = Forms.auth.ResetPasswordRequestForm() %}
      <div class="modalBody formFields">
        <p class="formHint">
          {% trans %}Please provide the email address associated with your account below.{% endtrans %}
        </p>

        {{ form.email.label(class="chip") }}
        {{ wtf_input_field(form.email(class="")) }}
        {{ form.nonce() }}

        {% include "components/errors.html" %}

      </div>
      <div class="modalFooter">
        <button class="button textButton shade" type="submit">
          <span>{% trans %}Submit{% endtrans %}</span>
        </button>
      </div>

    {% endwith %}
  {% endif %}
</form>
{% endblock %}
