<html>
  <head>
    <link rel="stylesheet" href="/static/styles.css">
    <title>Log in as Admin Pt 2</title>
  </head>
  <body>
    <div>
      <h1>Super Duper Secure</h1>
      <p>Bet you can't log in with credentials admin:admin</p>
      <form method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username"><br> 

        <label for="pwd">Password:</label>    
        <input type="password" name="pwd"><br>
        <input type="submit" id="submitButton" value="Log In" disabled>
      </form>
      {% if loginFailed %}
        <div id="loginFail">Hahahaha, NOPE </div>
      {% endif %}
    </div>
  </body>
</html>
