{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1 name="team">Team</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3 text-center">
				<p>
					<div name="welcome" style="display: inline"></div> {{ get_ctf_name() }}!
				</p>
				<p name="urge_team"></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 offset-md-3 text-center">
				<a name="team_official" class="btn btn-primary w-100" href="{{ url_for('auth.oauth_login') }}"></a>
			</div>
		</div>
		<div class="row pt-3">
			<div class="col-md-3 offset-md-3 text-center">
				<a name="join_unofficial" class="btn btn-light w-100" href="{{ url_for('teams.join') }}"></a>
			</div>
			<div class="col-md-3 text-center">
				<a name="create_unofficial" class="btn btn-light w-100" href="{{ url_for('teams.new') }}"></a>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script src="{{ url_for('views.themes', path='js/vendor/plotly.min.js') }}"></script>
	<script src="{{ url_for('views.themes', path='js/utils.js') }}"></script>
	{% if solves %}
		<script src="{{ url_for('views.themes', path='js/team.js') }}"></script>
	{% endif %}
	<script>
		jQuery(document).ready(function () {
			loadProperties('teams', language);
		});
	</script>
{% endblock %}
