<form method="POST" action="{{ script_root }}/admin/chal/new" enctype="multipart/form-data">
	<div class="form-group">
		<label for="name">题目名称
			<i class="far fa-question-circle text-muted cursor-help" data-toggle="tooltip" data-placement="right" title="The name of your challenge"></i>
		</label>
		<input type="text" class="form-control" name="name" placeholder="输入题目名字">
	</div>
	<div class="form-group">
		<label for="category">题目种类
			<i class="far fa-question-circle text-muted cursor-help" data-toggle="tooltip" data-placement="right" title="The category of your challenge"></i>
		</label>
		<input type="text" class="form-control" name="category" placeholder="输入题目种类">
	</div>

	<ul class="nav nav-tabs" role="tablist" id="new-desc-edit">
		<li class="nav-item">
			<a class="nav-link active" href="#new-desc-write" aria-controls="home" role="tab" data-toggle="tab">编辑</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#new-desc-preview" aria-controls="home" role="tab" data-toggle="tab">预览</a>
		</li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="new-desc-write">
			<div class="form-group">
				<label for="message-text" class="control-label">题目描述:
					<i class="far fa-question-circle text-muted cursor-help" data-toggle="tooltip" data-placement="right" title="将题目描述,题目要求,提交格式等写在这里告知答题者,支持HTML和MarkDown"></i>
				</label>
				<textarea id="new-desc-editor" class="form-control" name="description" rows="10"></textarea>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane content" id="new-desc-preview" style="height:234px; overflow-y: scroll;">
		</div>
	</div>

	<div class="form-group">
		<label for="value">分值
			<i class="far fa-question-circle text-muted cursor-help" data-toggle="tooltip" data-placement="right" title="题目分值"></i>
		</label>
		<input type="number" class="form-control" name="value" placeholder="输入分值" required>
	</div>

	<div class="form-group">
		<label>Flag
			<i class="far fa-question-circle text-muted cursor-help" data-toggle="tooltip" data-placement="right" title="解题答案,可以静态,也可制定规则"></i>
		</label>
		<input type="text" class="form-control" name="key" placeholder="输入Flag">
	</div>

	<div class="form-group">
		<select class="custom-select" name="key_type[0]">
			<option value="静态">Static</option>
			<option value="regex">Regex</option>
		</select>
	</div>

	<div class="form-check">
		<div class="checkbox">
			<label class="form-check-label">
				<input class="form-check-input" name="hidden" type="checkbox">
				创建时隐藏题目
			</label>
		</div>
	</div>

	<div class="form-check">
		<div class="checkbox">
			<label class="form-check-label">
				<input class="form-check-input" type="checkbox" id="solve-attempts-checkbox">
				限制提交次数
			</label>
		</div>
	</div>

	<div class="form-group">
		<div id="solve-attempts-input" style="display: none;">
			<label for="max_attempts">最大次数
				<i class="far fa-question-circle text-muted cursor-help" data-toggle="tooltip" data-placement="right" title="队伍能够提交多少次Flag,无限制设置为0"></i>
			</label>
			<input class="form-control" id='max_attempts' name='max_attempts' type='number' placeholder="0">
		</div>
	</div>

	<div class="form-group">
		<label>上传题目文件
			<i class="far fa-question-circle text-muted cursor-help" data-toggle="tooltip" data-placement="right" title="Challenges files are provided to users for download alongside your challenge description"></i>
		</label>
		<input class="form-control-file" type="file" name="files[]" multiple="multiple">
		<sub class="help-block">上传多个文件,鼠标画选或者恩住Ctrl</sub>
	</div>

	<input type="hidden" value="{{ nonce }}" name="nonce" id="nonce">
	<input type="hidden" value="standard" name="chaltype" id="chaltype">

	<div class="form-group">
		<button class="btn btn-primary float-right create-challenge-submit" type="submit">创建</button>
	</div>
</form>
