{% extends "base.html" %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center">500</h1>
			<h2 class="text-center">服务器错误，暂时无法访问，请联系网站管理员</h2>
			<h2 class="text-center">An Internal Server Error has occured</h2>
			<h2 class="text-center">管理员邮箱：540616029@qq.com</h2>
			<h2 class="text-center">Administrator Email:：540616029@qq.com</h2>
			<h2 class="text-center">交流QQ群：210475444</h2>
			<h2 class="text-center">QQ group communication：210475444</h2>
			
		</div>
	</div>
</div>


{% endblock %}

{% block scripts %}
{% endblock %}
