<!DOCTYPE html>
<html>

<head>
    <title>Admin Panel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/main-style.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/railscasts.min.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/style.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
    {% block stylesheets %} {% endblock %}
</head>

<body>
  <div class="body-container">
    <div class="navbar navbar-inverse home">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">CTF</a>
        </div>
        <div class="navbar-collapse collapse" aria-expanded="false" style="height: 0px">
          <ul class="nav navbar-nav navbar-nav-right">
            <li><a href="/admin/graphs">Graphs</a></li>
            <li><a href="/admin/pages">Pages</a></li>
            <li><a href="/admin/teams">Teams</a></li>
            <li><a href="/admin/scoreboard">Scoreboard</a></li>
            <li><a href="/admin/chals">Challenges</a></li>
            <li><a href="/admin/statistics">Statistics</a></li>
            <li><a href="/admin/config">Config</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
        {% block content %} {% endblock %}
    </div>
</div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/js/vendor/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/js/vendor/modernizr.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    {% block scripts %} {% endblock %}
</body>

</html>
