<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/css/normalize.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/css/foundation.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/style.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
</head>

<body>
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
            <li class="name">
                <h1><a href="/">CTF</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#">Menu</a>
            </li>
        </ul>

        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                </li>
            </ul>

            <!-- Left Nav Section -->
            <ul class="left">
                <li><a href="/admin/graphs">Graphs</a></li>
                <li><a href="/admin/pages">Pages</a></li>
                <li><a href="/admin/teams">Teams</a></li>
                <li><a href="/admin/scoreboard">Scoreboard</a></li>
                <li><a href="/admin/chals">Challenges</a></li>
                <li><a href="/admin/statistics">Statistics</a></li>
                <li><a href="/admin/config">Config</a></li>
            </ul>
        </section>
    </nav>

    {% block content %} {% endblock %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/js/vendor/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/js/vendor/modernizr.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/js/foundation.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/js/foundation/foundation.topbar.min.js"></script>
    <script>
        $(document).foundation();
    </script>
    {% block scripts %} {% endblock %}
</body>

</html>
