<!DOCTYPE html>
<html>

<head>
    <title>Admin Panel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/vendor/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/css/style.css">
    <link href='/static/css/vendor/lato.css' rel='stylesheet' type='text/css'>
    <link href='/static/css/vendor/raleway.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/style.css">
    <script src="/static/js/vendor/moment.min.js"></script>
    {% block stylesheets %} {% endblock %}
</head>

<body>
  <div class="body-container">
    <div class="navbar navbar-inverse home">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">CTFd</a>
        </div>
        <div class="navbar-collapse collapse" aria-expanded="false" style="height: 0px">
          <ul class="nav navbar-nav navbar-nav-right">
            <li><a href="/admin/graphs">Graphs</a></li>
            <li><a href="/admin/pages">Pages</a></li>
            <li><a href="/admin/teams">Teams</a></li>
            <li><a href="/admin/scoreboard">Scoreboard</a></li>
            <li><a href="/admin/chals">Challenges</a></li>
            <li><a href="/admin/statistics">Statistics</a></li>
            <li><a href="/admin/config">Config</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
        {% block content %} {% endblock %}
    </div>
</div>
    <script src="/static/js/vendor/jquery.min.js"></script>
    <script src="/static/js/vendor/marked.min.js"></script>
    <script src="/static/js/vendor/bootstrap.min.js"></script>
    {% block scripts %} {% endblock %}
</body>

</html>
