{% extends "admin/base.html" %}

{% block content %}
<div class="row">
    <br>
    <h1>Scoreboard</h1>
    <table id="scoreboard" class="table table-striped">
        <thead>
            <tr>
                <td width="10px"><b>Place</b></td>
                <td><b>Team</b></td>
                <td><b>Score</b></td>
                <td><b>Status</b></td>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><a href="{{ request.script_root }}/admin/team/{{ team.teamid }}">{{ team.name }}</a></td>
                <td>{{ team.score }}</td>
                <td>
                {% if not team.banned %}
                <form method="POST" style="margin:0;" action="{{ request.script_root }}/admin/team/{{ team.teamid }}/ban">
                    <a onclick="$(this).parent().submit()">Ban</a>
                    <input type="hidden" value="{{ nonce }}" name="nonce">
                </form>
                {%else %}
                <form method="POST" style="margin:0;" action="{{ request.script_root }}/admin/team/{{ team.teamid }}/unban">
                    <a onclick="$(this).parent().submit()">Unban</a>
                    <input type="hidden" value="{{ nonce }}" name="nonce">
                </form>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
