{% extends "admin/base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.0/c3.min.css">

<div class="row">
    <h1 id="team-id">{{ team.name }}</h1>
    <h2 id="team-email" class="text-center">{{ team.email }}</h2>
    <h2 id="team-place" class="text-center">
        {%if place %}
            {{ place }} <small>place</small>
        {% endif %}
    </h2>
    <h2 id="team-score" class="text-center">
        {%if score %}
            {{ score }} <small>points</small>
        {% endif %}
    </h2>


    <div id="keys-pie-graph"></div>
    <div id="categories-pie-graph"></div>
    <div id="score-graph"></div>

    <table>
        <h3>Solves</h3>
        <thead>
            <tr>
                <td><b>Challenge</b></td>
                <td><b>Submitted</b></td>
                <td><b>Category</b></td>
                <td><b>Value</b></td>
                <td><b>Time</b></td>
            </tr>
        </thead>
        <tbody>
        {% for solve in solves %}
            <tr>
                <td>{{ solve.chal.name }}</td>
                <td>{{ solve.flag }}</td>
                <td>{{ solve.chal.category }}</td>
                <td>{{ solve.chal.value }}</td>
                <td class="solve-time">{{ solve.date|unix_time_millis }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <table>
        <h3>IP Addresses</h3>
        <thead>
            <tr>
                <td><b>IP Address</b></td>
                <td><b>Last Seen</b></td>
            </tr>
        </thead>
        <tbody>
        {% for addr in addrs %}
            <tr><td>{{ addr.ip|long2ip }}</td><td class="solve-time">{{ addr.date|unix_time_millis }}</td></tr>
        {% endfor %}
        </tbody>
    </table>

    <table>
        <h3>Wrong Keys</h3>
        <thead>
            <tr>
                <td><b>Challenge</b></td>
                <td><b>Submitted</b></td>
                <td><b>Time</b></td>
            </tr>
        </thead>
        <tbody>
        {% for wrong_key in wrong_keys %}
            <tr>
                <td>{{ wrong_key.chal.name }}</td>
                <td>{{ wrong_key.flag }}</td>
                <td class="solve-time">{{ wrong_key.date|unix_time_millis }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}

{% block scripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.0/c3.min.js"></script>
    <script src="/static/admin/js/team.js"></script>
{% endblock %}
