{% extends "admin/base.html" %}

{% block content %}
<div class="row">
    <br>
    <h1>Config</h1>
    <form method="POST">
        <input name='nonce' type='hidden' value="{{ nonce }}">

        <div class="row">
            <label for="start">Digital Ocean API Key:</label>
            <input id='do_api_key' name='do_api_key' type='text' placeholder="Digital Ocean API Key" {% if do_api_key is defined and do_api_key != None %}value="{{ do_api_key }}"{% endif %}>
        </div>

        <div class="row">
            <label for="start">Start Date:</label>
            <input id='start' name='start' type='text' placeholder="Start Date (UTC timestamp)" {% if start is defined and start != None %}value="{{ start }}"{% endif %}>
        </div>

        <div class="row">
            <label for="end">End Date:</label>
            <input id='end' name='end' type='text' placeholder="End Date (UTC timestamp)" {% if end is defined and end != None %}value="{{ end }}"{% endif %}>
        </div>

        <div class="row">
            <input id="view_challenges_unregistered" name="view_challenges_unregistered" type="checkbox" {% if view_challenges_unregistered %}checked{% endif %}>
            <label for="view_challenges_unregistered">Unregistered users can view challenges</label>
        </div>

        <div class="row">
            <input id="prevent_registration" name="prevent_registration" type="checkbox" {% if prevent_registration %}checked{% endif %}>
            <label for="prevent_registration">Prevent public registration</label>
        </div>

        <button class="radius" type='submit'>Update</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
