{% extends "admin/base.html" %}

{% block content %}

<div class="row">
    <h1>Statistics</h1>

    <h3><b>{{ team_count }}</b> teams registered</h3>
    <h3><b>{{ wrong_count }}</b> wrong keys submitted</h3>
    <h3><b>{{ solve_count }}</b> right keys submitted</h3>
    <h3><b>{{ challenge_count }}</b> challenges</h3>
    {% if most_solved %}
        <h3>Most solved: <b>{{ most_solved[0].chal.name }}</b> with {{ most_solved[1] }}</b> solves</h3>
    {% endif %}
    {% if least_solved %}
    <h3>Least solved: <b>{{ least_solved[0].name }}</b> with {{ least_solved[1] }}</b> solves</h3>
    {% endif %}
</div>


{% endblock %}

{% block scripts %}
{% endblock %}
