{% extends "base.html" %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="pt-5 mt-5 text-center">
				<!-- Note: Contestants hit this page when attempting to view challenges before CTF start time -->
				<!-- Keep "error" large and "forbidden" small to avoid concerned participants! -->
				<h1>{% trans %}{{ error }}{% endtrans %}</h1>
				<hr class="w-50 m-auto">
				<br/>
				<h2>(403 Forbidden)</h2>
			</div>
		</div>
	</div>
</div>

{% endblock %}
