<div>
  {% for info in infos %}
    <div class="alert alert-info alert-dismissible text-center" role="alert">
      <span>{{ info }}</span>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        <span aria-hidden="true"></span>
      </button>
    </div>
  {% endfor %}

  {% for error in errors %}
    <div class="alert alert-danger alert-dismissible text-center" role="alert">
      <span>{{ error }}</span>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        <span aria-hidden="true"></span>
      </button>
    </div>
  {% endfor %}
</div>