.listItem {
    border: 3px solid #8989A7;
    border-bottom-width: 5px;
    border-radius: 1rem;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 5rem;
    color: $primary-fg;
    text-decoration: none;
    box-sizing: border-box;

    &.active {
        border-color: $warning-color;
        border-width: 4px;
    }

    @include media-sm {
        flex-wrap: wrap;
    }

    .listItemNumber, .listItemDetails, .listItemScore {
        min-height: 5rem;
    }

    .listItemNumber {
        text-align: center;
        font-weight: 800;
        font-size: 2.5rem;
        width: 3em;
        font-variant-numeric: tabular-nums;
        color: $accent-color;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        > img {
            width: 60%;
            transform: translateY(3px);
        }

        @include media-sm {
            margin-right: -1rem;
        }
    }

    .listItemDetailsIcon {
        margin: 0 1rem;

        @include media-sm {
            margin: 0 0 0 1rem;
        }

        .cellBodyIcon {
            border-radius: 5px;
            border: 1px solid #fff;
            box-shadow: 0 0 0 3px #62B8B9;
        }
    }

    .listItemDetails {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        gap: 0.25rem;
        padding: 0.5rem 0;
        flex-basis: 0;

        &:first-child {
            padding-left: 1rem;
        }

        .listItemDetailsPrimary {
            font-size: 1.25rem;
            font-weight: 600;
        }

        @include media-sm {
            margin: 0 1rem;
            overflow: hidden;
        }
    }

    .listItemScore {
        display: flex;
        align-items: center;
        padding: 0 1rem;
        align-self: stretch;
        background-color: #FFFFF0;
        border-radius: 1rem;
        justify-content: end;

        &.digits5 {
            width: 9rem;

            @include media-sm {
                width: 100%;
            }
        }

        .listItemScoreP {
            font-size: 1.8rem;
        }
        
        .listItemScoreValue {
            font-size: 2.2rem;
            font-variant-numeric: tabular-nums;
            color: $warning-color;
        }
    }

}

.scoreboardListItem {
    .listItemDetails {
        width: 0;
        > div {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}
