<div role="tabpanel" class="tab-pane config-section active" id="general">
	<form method="POST" autocomplete="off" class="w-100">
		<div class="form-group">
			<label for="ctf_name">
				{% trans %}Event Name{% endtrans %}
				<small class="form-text text-muted">{% trans %}When no logo is specified, the CTF's name is used instead.{% endtrans %}</small>
			</label>
			<input class="form-control" id='ctf_name' name='ctf_name' type='text' placeholder="{{ _('CTF Name') }}"
				{% if ctf_name is defined and ctf_name != None %}value="{{ ctf_name }}"{% endif %}>
		</div>

		<div class="form-group">
			<label>
				{% trans %}Event Description{% endtrans %}<br>
				<!-- TODO: Clarify WHERE this description is used. -->
				<small class="form-text text-muted">
					{% trans %}Description of your CTF. Available for use on your custom pages and emails as{% endtrans %} <code>{ctf_description}</code>{% trans %}.{% endtrans %}
				</small>
			</label>
			<textarea class="form-control" type="text" id="ctf_description" name="ctf_description" rows="5">{{ ctf_description }}</textarea>
		</div>

		<button type="submit" class="btn btn-md btn-primary float-right">{% trans %}Update{% endtrans %}</button>
	</form>
</div>
