<div role="tabpanel" class="tab-pane config-section" id="pages">
	<form  method="POST" enctype="multipart/form-data">
		<div class="form-group">
			<label>
				Robots.txt
				<small class="form-text text-muted">
					The robots.txt file contains instructions that suggest to bots which webpages they can and cannot access
				</small>
			</label>
			<textarea class="form-control" id="theme-footer" name="robots_txt" rows="7">{{ robots_txt or "User-agent: *\nDisallow: /admin\n" }}</textarea>
		</div>
		<button type="submit" class="btn btn-md btn-primary float-right">Update</button>
	</form>
</div>
