<div role="tabpanel" class="tab-pane config-section" id="pause">
	<form method="POST" autocomplete="off" class="w-100">
		<div class="form-group">
			<div class="form-check pl-0">
				<label>
					<input id="paused" name="paused" type="checkbox" {% if paused %}checked{% endif %}>
					Pause CTF
				</label>
			</div>
			<small class="form-text text-muted">
				Prevent users from submitting answers until unpaused. Challenges can still be viewed.
			</small>
		</div>

		<button type="submit" class="btn btn-md btn-primary float-right">Update</button>
	</form>
</div>
