<div role="tabpanel" class="tab-pane config-section" id="sanitize">
	{% set html_sanitization = "true" if html_sanitization == True else "false" %}
	<form method="POST" autocomplete="off" class="w-100">
		<div class="form-group">
			<label for="html_sanitization">
				{% trans %}HTML Sanitization{% endtrans %}
				<small class="form-text text-muted">
					{% trans %}Whether CTFd will attempt to sanitize HTML content from content.{% endtrans %}
				</small>
			</label>
			<select class="form-control custom-select" name="html_sanitization">
				{% if force_html_sanitization %}
				<option>
					{% trans %}Required (Disable in config.ini){% endtrans %}
				</option>
				{% else %}
				<option value="true" {% if html_sanitization=='true' %}selected{% endif %}>
					{% trans %}Enabled{% endtrans %}
				</option>
				<option value="false" {% if html_sanitization=='false' %}selected{% endif %}>
					{% trans %}Disabled{% endtrans %}
				</option>
				{% endif %}
			</select>
		</div>
		<button type="submit" class="btn btn-md btn-primary float-right">{% trans %}Update{% endtrans %}</button>
	</form>
</div>
