<div role="tabpanel" class="tab-pane config-section" id="scores">
	<form method="POST" autocomplete="off" class="w-100">

		<div class="form-check">
			<label>
				<input id="hide_scores" name="hide_scores" type="checkbox" {% if hide_scores %}checked{% endif %}>
				Hide Scores from non-admins
			</label>
		</div>

		<div class="form-check">
			<label>
				<input id="view_scoreboard_if_authed" name="view_scoreboard_if_authed" type="checkbox"
					   {% if view_scoreboard_if_authed %}checked{% endif %}>
				Scoreboard can only be viewed by logged in users
			</label>
		</div>

		<button type="submit" class="btn btn-md btn-primary float-right">Update</button>
	</form>
</div>
