<div role="tabpanel" class="tab-pane config-section" id="settings">
	<form method="POST" autocomplete="off" class="w-100">
		<div class="form-check">
			<label>
				<input id="workshop_mode" name="workshop_mode" type="checkbox"
					   {% if workshop_mode %}checked{% endif %}>
				Workshop Mode <i class="far fa-question-circle text-muted cursor-help" data-toggle="tooltip"
								 data-placement="right"
								 title="Hide all public team and score information."></i>
			</label>
		</div>
		<div class="form-check">
			<label>
				<input id="paused" name="paused" type="checkbox"
					   {% if paused %}checked{% endif %}>
				Pause CTF <i class="far fa-question-circle text-muted cursor-help" data-toggle="tooltip"
							 data-placement="right"
							 title="Prevent users from submitting answers until unpaused. Challenges can still be viewed."></i>
			</label>
		</div>
		<button type="submit" class="btn btn-md btn-primary float-right">Update</button>
	</form>
</div>