<div role="tabpanel" class="tab-pane config-section" id="theme">
	<div class="modal fade" role="document" id="theme-settings-modal">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">{% trans %}Theme Settings{% endtrans %}</h5>
				</div>
				<div class="modal-body">
				{% include (ctf_theme|string) + "/config.html" ignore missing %}
				</div>
			</div>
		</div>
	</div>

	<form method="POST" autocomplete="off" class="w-100">
		<div class="form-group">
			<label for="ctf_theme">
				{% trans %}Theme{% endtrans %}
				<small class="form-text text-muted">
					{% trans %}Switch themes to change CTFd's aesthetics{% endtrans %}
				</small>
			</label>
			<select class="form-control custom-select" id="ctf_theme" name="ctf_theme">
				<option>{{ ctf_theme }}</option>
				{% for theme in themes %}
					<option>{{ theme }}</option>
				{% endfor %}
			</select>
		</div>

		<div class="form-group">
			<div style="display: flex; justify-content: space-between; align-items: center;">
				<label>
					{% trans %}Primary Color{% endtrans %}
					<small class="form-text text-muted">
						{% trans %}Base color used for theme features. Requires theme support.{% endtrans %}
					</small>
				</label>
				<div>
					<input type="color" id="config-color-picker" class="custom-color-picker">
					<button type="button" class="btn-sm btn-primary" id="config-color-update">
						<i class="fas fa-pencil action-icon"></i> {% trans %}Build CSS{% endtrans %}
					</button>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label>
				{% trans %}Theme Header{% endtrans %}
				<small class="form-text text-muted">
					{% trans %}Theme headers are inserted just before the{% endtrans %} <code>&lt;/head&gt;</code> {% trans %}tag on all public facing pages. Requires theme support.{% endtrans %}
				</small>
			</label>
			<!-- TODO: Smaller (expanding) textarea -->
			<textarea class="form-control" id="theme-header" name="theme_header" rows="7">{{ theme_header or "" }}</textarea>
		</div>

		<div class="form-group">
			<label>
				{% trans %}Theme Footer{% endtrans %}
				<small class="form-text text-muted">
					{% trans %}Theme footers are inserted just before the{% endtrans %} <code>&lt;/body&gt;</code> {% trans %}tag on all public facing pages. Requires theme support.{% endtrans %}
				</small>
			</label>
			<!-- TODO: Smaller (expanding) textarea -->
			<textarea class="form-control" id="theme-footer" name="theme_footer" rows="7">{{ theme_footer or "" }}</textarea>
		</div>

		<div class="form-group">
			<div style="display: flex; justify-content: space-between;">
				<label for="ctf_theme">
					{% trans %}Theme Settings{% endtrans %}
				</label>
				<div class="d-block pb-2">
					<button type="button" class="btn-sm btn-primary" id="theme-settings-button">
						<i class="fas fa-pencil-alt action-icon"></i> {% trans %}Build{% endtrans %}
					</button>
				</div>
			</div>
			<!-- TODO: Smaller (expanding) textarea -->
			<textarea class="form-control" id="theme-settings" name="theme_settings" rows="7">{{ theme_settings or "" }}</textarea>
			<small class="form-text text-muted">
				{% trans %}Settings specific to the theme{% endtrans %}
			</small>
		</div>

		<button type="submit" class="btn btn-md btn-primary float-right">{% trans %}Update{% endtrans %}</button>
	</form>
</div>
