<div role="tabpanel" class="tab-pane config-section" id="usermode">
	<form id="user-mode-form" method="POST" autocomplete="off" class="w-100 custom-config-form">
		<div class="form-group">
			<label for="ctf_name">
				{% trans %}User Mode{% endtrans %}
				<small class="form-text text-muted">{% trans %}Controls whether users play as themselves (User Mode) or join together as teams (Team Mode).{% endtrans %}</small>
			</label>

			<div class="row pt-3">
				<div class="col-md-6">
					<label class="h-100 w-100">
						<input type="radio" class="card-radio d-none" name="user_mode" value="teams" {% if user_mode == 'teams' %}checked{% endif %}>
						<div class="card rounded-0 h-100">
							<div class="card-body p-3">
								<span class="card-title">
									<div class="form-check">
										<input class="form-check-input card-radio-clone" type="radio" style="visibility: hidden;" checked>
										<span class="form-check-label text-center">
											<h5>{% trans %}Team Mode{% endtrans %}</h5>
										</span>
										<ul class="p-0 small">
											<li>{% trans %}Participants register accounts and form teams{% endtrans %}</li>
											<li>{% trans %}If a team member solves a challenge, the entire team receives credit{% endtrans %}</li>
											<br>
											<li>{% trans %}Easier to see which team member solved a challenge{% endtrans %}</li>
											<li>{% trans %}May be slightly more difficult to administer{% endtrans %}</li>
										</ul>
									</div>
								</span>
							</div>
						</div>
					</label>
				</div>
				<div class="col-md-6">
					<label class="h-100 w-100">
						<input type="radio" class="card-radio d-none" name="user_mode" value="users" {% if user_mode == 'users' %}checked{% endif %}>
						<div class="card rounded-0 h-100">
							<div class="card-body p-3">
								<span class="card-title">
									<div class="form-check">
										<input class="form-check-input card-radio-clone" type="radio" style="visibility: hidden;" checked>
										<span class="form-check-label text-center">
											<h5>{% trans %}User Mode{% endtrans %}</h5>
										</span>
										<ul class="p-0 small">
											<li>{% trans %}Participants only register an individual account{% endtrans %}</li>
											<li>{% trans %}Players can share accounts to form pseudo-teams{% endtrans %}</li>
											<br>
											<li>{% trans %}Easier to organize{% endtrans %}</li>
											<li>{% trans %}Difficult to attribute solutions to individual team members{% endtrans %}</li>
										</ul>
									</div>
								</span>
							</div>
						</div>
					</label>
				</div>
			</div>
		</div>

		<div class="alert alert-danger text-center" role="alert">
			<p>
				<strong>{% trans %}Changing your user mode will also delete all submissions or records that a user took an action.{% endtrans %}</strong>
				<br><small>{% trans %}(Submissions, Awards, Unlocks, Tracking){% endtrans %}</small>
			</p>
		</div>

		<button type="submit" class="btn btn-md btn-primary float-right">
			{% trans %}Update{% endtrans %}
		</button>
	</form>
</div>
