.btn-primary {
    background-color: #484654;
    border: 0;
    border-radius: 3px;
    outline: 0 !important;

    &:focus {
      background-color: #484654 !important;
    }

    &:hover {
      background-color: #3D3B47 !important;
    }

    &:active {
      background-color: #2c2a33 !important;
    }
}

.chal-modal-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.25);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  z-index: 10;

  &.open {
    opacity: 1;
    visibility: visible;
  }

  .chal-modal {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;
    background: #FFFFFF;
    margin-top: 154px;
    height: 453px;
    width: 585px;
    animation: fadeScaleIn 0.2s ease-in-out;
    position: relative;


    .chal-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      height: 100%;
      width: 100%;
      position: relative;
      animation: fadeIn 0.2s ease-in-out;
    }

    .chal-solves {
      cursor: pointer;
      position: absolute;
      border-radius: 3px;
      background: #5CC67C;
      color: #ffffff;
      font-size: 12px;
      top: 15px;
      right: 15px;
      padding: 3px 6px;
      animation: fadeIn 0.2s ease-in-out;
      z-index: 3;
      user-select: none;
    }

    .chal-row {
      display: flex;
      flex-flow: column nowrap;
      width: 100%;
      position: relative;
    }

    .chal-category {
      font-size: 16px;
      font-weight: 600;
      margin: 15px 0px;
      text-align: center;
    }

    .chal-name {
      font-size: 16px;
      margin: 15px 0px 0px 0px;
      text-align: center;
    }

    .chal-desc {
      text-align: center;
      padding: 15px;
      line-height: 24px;
    }

    .chal-files {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      padding: 15px;

      .chal-file {
        cursor: pointer;
        background: #635CC6;
        border-bottom: 4px solid #5550A8;
        color: #FFFFFF;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 9px 12px;
      }
    }

    .chal-input {
      display: flex;
      flex-flow: column nowrap;
      border-radius: 3px;
      padding: 0 15px 15px 15px;
      width: 100%;
      
      .chal-input-row {
        display: flex;
        flex-flow: row nowrap;

        input {
          width: 100%;
          margin-right: 10px;
          border-radius: 3px;
        }

        .chal-response {
          margin-top: 5px;
          font-size: 12px;
          font-weight: 600;
          opacity: 0;
          transform: scale(0);
          transition: all 0.2s ease-in-out;
          transform-origin: top left;
          
          &.success, &.error, &.info {
            opacity: 1;
            transform: scale(1);
          }

          &.success {
            color: #5CC67C;
          }

          &.error {
            color: #C65C5C;
          }

          &.info {
            color: #797b80;
          }
        }
      }
    }

    .chal-solves-container {
      .solves-table {
        overflow: auto;
      }

      .chal-solve {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        flex-shrink: 0;
        border-bottom: 1px solid #f6f6f8;
        padding: 15px;

        div {
          flex: 1;

          &.pull-right {
            text-align: right;
          }
        }
      }
    }
  }
}

.fadeIn {
  animation: fadeIn 0.2s ease-in-out !important;
}

@keyframes fadeScaleIn {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

