<label for="create-key-static" class="control-label">Enter Static Key Data</label>
<input type="text" id="create-key-static" class="form-control" name="key" value="{{key}}" placeholder="Enter static key data">
<div class="form-check form-check-inline">
	<input class="form-check-input" type="checkbox" id="keydata" name="keydata" value="case_insensitive">
	<label class="form-check-label" for="keydata">Case Insensitive</label>
</div>