<div id="edit-flags" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header text-center">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h3 class="text-center">Edit Flag</h3>
						</div>
					</div>
				</div>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form method="POST">
				</form>
			</div>
		</div>
	</div>
</div>