<div id="update-keys" class="modal fade" tabindex="-1" chal-id="">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header text-center">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h3 class="text-center">Flags</h3>
						</div>
					</div>
				</div>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<button id="create-key" class="btn btn-primary d-inline-block text-center">New Flag</button>
						</div>
						<div class="col-md-12">
							<form method="POST">
								<input name='nonce' type='hidden' value="{{ nonce }}">
								<input id="keys-chal" name='chal' type='hidden'>
								<div id="current-keys" class="row"></div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
