<div class="jumbotron bg-transparent mb-0 radius-0">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <h1 class="display-3">CAPTURE THE FLAG<span class="vim-caret">͏͏&nbsp;</span></h1>
        <div class="lead mb-3 text-mono text-success">Welcome hackers! Prove the world that a computer genius with a laptop is not a nerd sitting in the corner of a untidy room but a fun loving work of brilliance! Join our CTF and expand your knowledge about computer forensics.
        </div>
        <div class="text-mono">
          <a href="challenges" class="btn btn-primary btn-shadow px-3 my-2 ml-0 text-left">
            Let's Hack!
          </a>
        </div>
        <div class="text-darkgrey text-mono my-2">We won't steal you passwords :)</div>
        <p class="mt-5 text-grey text-spacey">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, dignissimos provident.
          <br>
        </p>
      </div>
    </div>
  </div>
</div>
