<div role="tabpanel" class="tab-pane config-section" id="mlc">
	<form method="POST" autocomplete="off" class="w-100">

		<div class="form-group">
			<label>
				客户端ID（Client ID）
				<small class="form-text text-muted">
					集成的（OAuth Client ID for） <a href="https://majorleaguecyber.org/">MajorLeagueCyber</a> OAuth客户端ID 。（integration.）
				</small>
			</label>
			<input class="form-control" id='oauth_client_id' name='oauth_client_id' type='text'
				   placeholder=""
				   {% if oauth_client_id is defined and oauth_client_id != None %}value="{{ oauth_client_id }}"{% endif %}>
		</div>

		<div class="form-group">
			<label>
				客户端密钥：（Client Secret）
				<small class="form-text text-muted">
					集成的（OAuth Client Secret for） <a href="https://majorleaguecyber.org/">MajorLeagueCyber</a> OAuth客户端密钥。（integration.）
				</small>
			</label>
			<input class="form-control" id='oauth_client_secret' name='oauth_client_secret' type='text'
				   placeholder=""
				   {% if oauth_client_secret is defined and oauth_client_secret != None %}value="{{ oauth_client_secret }}"{% endif %}>
		</div>

		<button type="submit" class="btn btn-md btn-primary float-right">更新（Update）</button>
	</form>
</div>