<div id="challenge-solves-modal" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="modal-header text-center">
					<div class="col-md-12">
						<table class="table table-striped text-center">
							<thead>
							<tr>
								<td><b>Name</b>
								</td>
								<td><b>Date</b>
								</td>
							</tr>
							</thead>
							<tbody id="challenge-solves-body"">
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
