<div id="challenge-solves-modal" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header text-center">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h3 id="challenge-solves-title" class="text-center">Solves</h3>
						</div>
					</div>
				</div>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<table class="table table-striped text-center">
								<thead>
								<tr>
									<td><b>Name</b>
									</td>
									<td><b>Date</b>
									</td>
								</tr>
								</thead>
								<tbody id="challenge-solves-body">
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>