<table id="filesboard" class="table table-striped">
	<thead>
		<tr>
			<td class="text-center"><b>File</b></td>
			<td class="text-center"><b>Settings</b></td>
		</tr>
	</thead>
	<tbody>
	{% for file in challenge.files %}
		<tr>
			<td class="text-center">
				<a href="{{ url_for('views.files', path=file.location) }}">{{ file.location.split('/').pop() }}</a>
			</td>

			<td class="text-center">
				<i role="button" file-id="{{ file.id }}" class="btn-fa fas fa-times delete-file"></i>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

<div class="col-md-12 mt-3">
	{% with form = Forms.challenges.ChallengeFilesUploadForm() %}
	<form id="file-add-form" method="POST">
		<div class="form-group">
			{{ form.file(class="form-control-file") }}
			<sub class="text-muted">
				{{ form.file.description }}
			</sub>
		</div>
		<div class="form-group">
			{{ form.submit(class="btn btn-success float-right") }}
		</div>
	</form>
	{% endwith %}
</div>