{% block header %}
{% endblock %}

<form method="POST" action="{{ script_root }}/admin/challenges/new" enctype="multipart/form-data">
	{% block name %}
	<div class="form-group">
		<label>
			{% trans %}Name:{% endtrans %}<br>
			<small class="form-text text-muted">
				{% trans %}The name of your challenge{% endtrans %}
			</small>
		</label>
		<input type="text" class="form-control" name="name" placeholder="{{ _('Enter challenge name') }}">
	</div>
	{% endblock %}

	{% block category %}
	<div class="form-group">
		<label>
			{% trans %}Category:{% endtrans %}<br>
			<small class="form-text text-muted">
				{% trans %}The category of your challenge{% endtrans %}
			</small>
		</label>
		<input type="text" class="form-control" name="category" placeholder="{{ _('Enter challenge category') }}">
	</div>
	{% endblock %}


	{% block message %}
	<div class="form-group">
		<label>
			{% trans %}Message:{% endtrans %}<br>
			<small class="form-text text-muted">
				{% trans %}Use this to give a brief introduction to your challenge.{% endtrans %}
			</small>
		</label>
		<textarea id="new-desc-editor" class="form-control markdown" name="description" rows="10"></textarea>
	</div>
	{% endblock %}

	{% block attribution %}
	{% endblock %}

	{% block value %}
	<div class="form-group">
		<label>
			{% trans %}Value:{% endtrans %}<br>
			<small class="form-text text-muted">
				{% trans %}This is how many points are rewarded for solving this challenge.{% endtrans %}
			</small>
		</label>
		<input type="number" class="form-control" name="value" placeholder="{{ _('Enter value') }}" required>
	</div>
	{% endblock %}

	{% block state %}
	<input type="hidden" name="state" value="hidden">
	{% endblock %}

	{% block type %}
	<input type="hidden" name="type" value="standard">
	{% endblock %}

	{% block submit %}
	<div class="form-group">
		<button class="btn btn-primary float-right create-challenge-submit" type="submit">{% trans %}Create{% endtrans %}</button>
	</div>
	{% endblock %}
</form>

{% block footer %}
{% endblock %}
