{% block header %}
{% endblock %}

<form method="POST">
	{% block name %}
	<div class="form-group">
		<label>
			{% trans %}Name{% endtrans %}<br>
			<small class="form-text text-muted">{% trans %}Challenge Name{% endtrans %}</small>
		</label>
		<input type="text" class="form-control chal-name" name="name" value="{{ challenge.name }}">
	</div>
	{% endblock %}

	{% block category %}
	<div class="form-group">
		<label>
			{% trans %}Category{% endtrans %}<br>
			<small class="form-text text-muted">{% trans %}Challenge Category{% endtrans %}</small>
		</label>
		<input type="text" class="form-control chal-category" name="category" value="{{ challenge.category }}">
	</div>
	{% endblock %}

	{% block message %}
	<div class="form-group">
		<label>
			{% trans %}Message{% endtrans %}<br>
			<small class="form-text text-muted">
				{% trans %}Use this to give a brief introduction to your challenge.{% endtrans %}
			</small>
		</label>
		<textarea id="desc-editor" class="form-control chal-desc-editor markdown" name="description" rows="10">{{ challenge.description }}</textarea>
	</div>
	{% endblock %}

	{% block attribution %}
	<div class="form-group">
		<label>
			{% trans %}Attribution:{% endtrans %}<br>
			<small class="form-text text-muted">
				{% trans %}Attribution for your challenge{% endtrans %} <small>({% trans %}supports markdown{% endtrans %})</small>
			</small>
		</label>
		<input type="text" class="form-control" name="attribution" value="{{ challenge.attribution }}">
	</div>
	{% endblock %}

	{% block connection_info %}
	<div class="form-group">
		<label>
			{% trans %}Connection Info{% endtrans %}<br>
			<small class="form-text text-muted">
				{% trans %}Use this to specify a link, hostname, or connection instructions for your challenge.{% endtrans %}
			</small>
		</label>
		<input type="text" class="form-control chal-connection-info" name="connection_info" value="{{ challenge.connection_info | default('', true) }}">
	</div>
	{% endblock %}

	{% block value %}
	<div class="form-group">
		<label for="value">
			{% trans %}Value{% endtrans %}<br>
			<small class="form-text text-muted">
				{% trans %}This is how many points teams will receive once they solve this challenge.{% endtrans %}
			</small>
		</label>
		<input type="number" class="form-control chal-value" name="value" value="{{ challenge.value }}" required>
	</div>
	{% endblock %}

	{% block position %}
	<div class="form-group">
		<label for="position">
			{% trans %}Position{% endtrans %}<br>
			<small class="form-text text-muted">
				{% trans %}This is used to order the challenge. Lower positions are first. Position 0 goes to the end to be sorted by challenge value.{% endtrans %}
			</small>
		</label>
		<input type="number" class="form-control chal-position" name="position" value="{{ challenge.position }}" required>
	</div>
	{% endblock %}

	{% block function %}
	<div class="form-group">
		<label for="function">
			{% trans %}Scoring Function{% endtrans %}<br>
			<small class="form-text text-muted">
				<span>{% trans %}How the challenge value will be calculated based on the Decay value{% endtrans %}</span>
			</small>
		</label>
		<select name="function" class="custom-select chal-function">
			<option value="static" {% if challenge.function == "static" %}selected{% endif %}>{% trans %}Static{% endtrans %}</option>
			<option value="linear" {% if challenge.function == "linear" %}selected{% endif %}>{% trans %}Linear{% endtrans %}</option>
			<option value="logarithmic" {% if challenge.function == "logarithmic" %}selected{% endif %}>{% trans %}Logarithmic{% endtrans %}</option>
		</select>
		<small class="form-text text-muted">
			<ul>
				<li>{% trans %}Static:{% endtrans %} {% trans %}Challenge{% endtrans %} <code>Value</code> {% trans %}is awarded as-is{% endtrans %}</li>
				<li>{% trans %}Linear:{% endtrans %} {% trans %}Calculated as{% endtrans %} <code>Initial - (Decay * SolveCount)</code></li>
				<li>{% trans %}Logarithmic:{% endtrans %} {% trans %}Calculated as{% endtrans %} <code>(((Minimum - Initial) / (Decay^2)) * (SolveCount^2)) + Initial</code></li>
			</ul>
		</small>
	</div>
	{% endblock %}

	{% block initial %}
	<div class="form-group">
		<label for="initial">{% trans %}Initial Value{% endtrans %}<br>
			<small class="form-text text-muted">
				{% trans %}This is how many points the challenge was worth initially.{% endtrans %}
			</small>
		</label>
		<input type="number" class="form-control chal-initial" name="initial" value="{{ challenge.initial }}" required>
	</div>
	{% endblock %}

	{% block decay %}
	<div class="form-group">
		<label for="decay">{% trans %}Decay{% endtrans %}<br>
			<small class="form-text text-muted">
				<span>{% trans %}The decay value is used differently depending on the above Decay Function{% endtrans %}</span>
				<ul>
					<li>{% trans %}Linear: The amount of points deducted per solve. Equal deduction per solve.{% endtrans %}</li>
					<li>{% trans %}Logarithmic: The amount of solves before the challenge reaches its minimum value. Earlier solves will lose less points. Later solves will lose more points{% endtrans %}</li>
				</ul>
			</small>
		</label>
		<input type="number" class="form-control chal-decay" min="1" name="decay" value="{{ challenge.decay }}" required>
	</div>
	{% endblock %}

	{% block minimum %}
	<div class="form-group">
		<label for="minimum">{% trans %}Minimum Value{% endtrans %}<br>
			<small class="form-text text-muted">
				{% trans %}This is the lowest that the challenge can be worth{% endtrans %}
			</small>
		</label>
		<input type="number" class="form-control chal-minimum" name="minimum" value="{{ challenge.minimum }}" required>
	</div>
	{% endblock %}

	{% block logic %}
	<div class="form-group">
		<label>
			{% trans %}Logic{% endtrans %}<br>
			<small class="form-text text-muted">{% trans %}Determines how this challenge is solved{% endtrans %}</small>
		</label>

		<select class="form-control custom-select" name="logic">
			<option value="any" {% if challenge.logic == "any" or not challenge.logic %}selected{% endif %}>{% trans %}Require Any Flag{% endtrans %}</option>
			<option value="all" {% if challenge.logic == "all" %}selected{% endif %}>{% trans %}Require All Flags{% endtrans %}</option>
			<option value="team" {% if challenge.logic == "team" %}selected{% endif %}>{% trans %}Require Any Flags by All Team Members{% endtrans %}</option>
		</select>
	</div>
	{% endblock %}

	{% block max_attempts %}
	<div class="form-group">
		<label>
			{% trans %}Max Attempts{% endtrans %}<br>
			<small class="form-text text-muted">{% trans %}Maximum amount of attempts users receive. Leave at 0 for unlimited.{% endtrans %}</small>
		</label>

		<input type="number" class="form-control chal-attempts" name="max_attempts" value="{{ challenge.max_attempts }}">
	</div>
	{% endblock %}

	{% block state %}
	<div class="form-group">
		<label>
			{% trans %}State{% endtrans %}<br>
			<small class="form-text text-muted">{% trans %}Changes the state of the challenge (e.g. visible, hidden){% endtrans %}</small>
		</label>

		<select class="form-control custom-select" name="state">
			<option value="visible" {% if challenge.state == "visible" %}selected{% endif %}>{% trans %}Visible{% endtrans %}</option>
			<option value="hidden" {% if challenge.state == "hidden" %}selected{% endif %}>{% trans %}Hidden{% endtrans %}</option>
		</select>
	</div>
	{% endblock %}

	{% block submit %}
	<div>
		<button class="btn btn-success btn-outlined float-right" type="submit">
			{% trans %}Update{% endtrans %}
		</button>
	</div>
	{% endblock %}
</form>

{% block footer %}
{% endblock %}
