{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>登录（Login）</h1>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			{% for error in errors %}
				<div class="alert alert-danger alert-dismissable" role="alert">
				  <span class="sr-only">Error:</span>
				  {{ error }}
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
				</div>
			{% endfor %}

			<a class="btn btn-secondary btn-lg btn-block" href="{{ url_for('auth.oauth_login') }}">使用Major
				League Cyber登录（Login with Major
				League Cyber）</a>

			<hr>

			<form method="post" accept-charset="utf-8" autocomplete="off" role="form" class="form-horizontal">
				<div class="form-group">
					<label for="name-input">
						用户名或邮箱（User Name or Email）
					</label>
					<input class="form-control" type="text" name="name" id="name-input" />
				</div>
				<div class="form-group">
					<label for="password-input">
						密码（Password）
					</label>
					<input class="form-control" type="password" name="password" id="password-input" />
				</div>
				<div class="row pt-3">
					<div class="col-md-6">
						<a class="float-left align-text-to-button" href="{{ url_for('auth.reset_password') }}">
							忘记密码？（Forgot your password?）
						</a>
					</div>
					<div class="col-md-6">
						<button type="submit" id="submit" tabindex="5" class="btn btn-md btn-primary btn-outlined float-right">
							提交（Submit）
						</button>
					</div>
				</div>
				<input type="hidden" name="nonce" value="{{ nonce }}">
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}

