{% extends "base.html" %}

{% block content %}

  <div class="container py-5 mb-5">
    <h1 class="display-3" style="text-align: center">0100 0000 0100<span class="vim-caret">͏͏&nbsp;</span></h1>
    <h2 class="mb-4" style="text-align: center">page not found</h2>
    <div class="row py-4">
      <h1 style="text-align: center; width: 100%">
        Hackers are Wanderers and Explorers
      </h1>
      <h2 style="text-align: center; width: 100%">
        But sometimes they get lost too...
      </h2>
      <a href="javascript:history.back()" class="mt-5 btn btn-shadow btn-success btn-block">GO BACK</a>
    </div>
  </div>

{% endblock %}

{% block scripts %}{% endblock %}
